[core]
    editor = "subl -n -w"
    whitespace = -trailing-space

[color]
    ui = auto

[color "branch"]
    upstream = cyan

[log]
    abbrevCommit = true
    follow = true
    decorate = false

[http]
    proxy = http://www-proxy-hqdc.us.oracle.com:80
    sslverify = false

[https]
    proxy = https://www-proxy-hqdc.us.oracle.com:80
    sslverify = false

[url "https://"]
    insteadOf = git://

[user]
    name = Ryan Morrissey
    email = 23maverick23@gmail.com