---
---
<!DOCTYPE html>
<html>
	{% include head.html %}
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
	<div class="ui container">
		{% include menu.html %}
	</div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
	{% include menu.html %}
</div>


<!-- Page Contents -->
<div class="pusher">
	<div id="home" class="ui inverted vertical masthead center aligned segment">

		<div class="ui container">
			<div class="ui large secondary inverted pointing menu">
				<a class="toc item">
					<i class="sidebar icon"></i>
				</a>
				{% include menu.html %}
			</div>
		</div>

		<div class="ui text container">
			<h1 class="ui inverted header">
				{{ site.title }}
			</h1>
			<h2>{{ site.description }}</h2>
		</div>

	</div>

	{% include trivia.html %}

	{% include rules.html %}

	{% include quotes_one.html %}

	{% include standings.html %}

	{% include quotes_two.html %}

	{% include drivers.html %}

	{% include archive.html %}

	{% include footer.html %}
</div>

</body>

</html>
