---
---
<!DOCTYPE html>
<html>
<head>
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- Site Properties -->
	<title>{{ site.title }}</title>
	<link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/198/racing-car_1f3ce.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

	<style type="text/css">
		.hidden.menu {
			display: none;
		}

		.masthead.segment {
			min-height: 700px;
			padding: 1em 0em;
		}
		.masthead .logo.item img {
			margin-right: 1em;
		}
		.masthead .ui.menu .ui.button {
			margin-left: 0.5em;
		}
		.masthead h1.ui.header {
			margin-top: 3em;
			margin-bottom: 0em;
			font-size: 4em;
			font-weight: normal;
		}
		.masthead h2 {
			font-size: 1.7em;
			font-weight: normal;
		}

		.ui.vertical.stripe {
			padding: 8em 0em;
		}
		.ui.vertical.stripe h3 {
			font-size: 2em;
		}
		.ui.vertical.stripe .button + h3,
		.ui.vertical.stripe p + h3 {
			margin-top: 3em;
		}
		.ui.vertical.stripe .floated.image {
			clear: both;
		}
		.ui.vertical.stripe p {
			font-size: 1.33em;
		}
		.ui.vertical.stripe .horizontal.divider {
			margin: 3em 0em;
		}

		.quote.stripe.segment {
			padding: 0em;
		}
		.quote.stripe.segment .grid .column {
			padding-top: 5em;
			padding-bottom: 5em;
		}

		.footer.segment {
			padding: 5em 0em;
		}

		.secondary.pointing.menu .toc.item {
			display: none;
		}

		@media only screen and (max-width: 700px) {
			.ui.fixed.menu {
				display: none !important;
			}
			.secondary.pointing.menu .item,
			.secondary.pointing.menu .menu {
				display: none;
			}
			.secondary.pointing.menu .toc.item {
				display: block;
			}
			.masthead.segment {
				min-height: 350px;
			}
			.masthead h1.ui.header {
				font-size: 2em;
				margin-top: 1.5em;
			}
			.masthead h2 {
				margin-top: 0.5em;
				font-size: 1.5em;
			}
		}

		.flip-text-h {
			display: inline-block;
			-moz-transform: scale(-1, 1);
			-webkit-transform: scale(-1, 1);
			-o-transform: scale(-1, 1);
			-ms-transform: scale(-1, 1);
			transform: scale(-1, 1);
		}
	</style>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
	<script>
		// Stupid jQuery table plugin.
		(function($) {
		  $.fn.stupidtable = function(sortFns) {
		    return this.each(function() {
		      var $table = $(this);
		      sortFns = sortFns || {};
		      sortFns = $.extend({}, $.fn.stupidtable.default_sort_fns, sortFns);
		      $table.data('sortFns', sortFns);
		      $table.stupidtable_build();

		      $table.on("click.stupidtable", "thead th", function() {
		          $(this).stupidsort();
		      });

		      // Sort th immediately if data-sort-onload="yes" is specified. Limit to
		      // the first one found - only one default sort column makes sense anyway.
		      var $th_onload_sort = $table.find("th[data-sort-onload=yes]").eq(0);
		      $th_onload_sort.stupidsort();
		    });
		  };

		  // ------------------------------------------------------------------
		  // Default settings
		  // ------------------------------------------------------------------
		  $.fn.stupidtable.default_settings = {
		    should_redraw: function(sort_info){
		      return true;
		    },
		    will_manually_build_table: false
		  };
		  $.fn.stupidtable.dir = {ASC: "asc", DESC: "desc"};
		  $.fn.stupidtable.default_sort_fns = {
		    "int": function(a, b) {
		      return parseInt(a, 10) - parseInt(b, 10);
		    },
		    "float": function(a, b) {
		      return parseFloat(a) - parseFloat(b);
		    },
		    "string": function(a, b) {
		      return a.toString().localeCompare(b.toString());
		    },
		    "string-ins": function(a, b) {
		      a = a.toString().toLocaleLowerCase();
		      b = b.toString().toLocaleLowerCase();
		      return a.localeCompare(b);
		    }
		  };

		  // Allow specification of settings on a per-table basis. Call on a table
		  // jquery object. Call *before* calling .stuidtable();
		  $.fn.stupidtable_settings = function(settings) {
		    return this.each(function() {
		      var $table = $(this);
		      var final_settings = $.extend({}, $.fn.stupidtable.default_settings, settings);
		      $table.stupidtable.settings = final_settings;
		    });
		  };


		  // Expects $("#mytable").stupidtable() to have already been called.
		  // Call on a table header.
		  $.fn.stupidsort = function(force_direction){
		    var $this_th = $(this);
		    var datatype = $this_th.data("sort") || null;

		    // No datatype? Nothing to do.
		    if (datatype === null) {
		      return;
		    }

		    var $table = $this_th.closest("table");

		    var sort_info = {
		        $th: $this_th,
		        $table: $table,
		        datatype: datatype
		    };


		    // Bring in default settings if none provided
		    if(!$table.stupidtable.settings){
		        $table.stupidtable.settings = $.extend({}, $.fn.stupidtable.default_settings);
		    }

		    sort_info.compare_fn = $table.data('sortFns')[datatype];
		    sort_info.th_index = calculateTHIndex(sort_info);
		    sort_info.sort_dir = calculateSortDir(force_direction, sort_info);

		    $this_th.data("sort-dir", sort_info.sort_dir);
		    $table.trigger("beforetablesort", {column: sort_info.th_index, direction: sort_info.sort_dir, $th: $this_th});

		    // More reliable method of forcing a redraw
		    $table.css("display");

		    // Run sorting asynchronously on a timout to force browser redraw after
		    // `beforetablesort` callback. Also avoids locking up the browser too much.
		    setTimeout(function() {
		      if(!$table.stupidtable.settings.will_manually_build_table){
		        $table.stupidtable_build();
		      }
		      var table_structure = sortTable(sort_info);
		      var trs = getTableRowsFromTableStructure(table_structure, sort_info);

		      if(!$table.stupidtable.settings.should_redraw(sort_info)){
		        return;
		      }
		      $table.children("tbody").append(trs);

		      updateElementData(sort_info);
		      $table.trigger("aftertablesort", {column: sort_info.th_index, direction: sort_info.sort_dir, $th: $this_th});
		      $table.css("display");

		    }, 10);
		    return $this_th;
		  };

		  // Call on a sortable td to update its value in the sort. This should be the
		  // only mechanism used to update a cell's sort value. If your display value is
		  // different from your sort value, use jQuery's .text() or .html() to update
		  // the td contents, Assumes stupidtable has already been called for the table.
		  $.fn.updateSortVal = function(new_sort_val){
		  var $this_td = $(this);
		    if($this_td.is('[data-sort-value]')){
		      // For visual consistency with the .data cache
		      $this_td.attr('data-sort-value', new_sort_val);
		    }
		    $this_td.data("sort-value", new_sort_val);
		    return $this_td;
		  };


		  $.fn.stupidtable_build = function(){
		    return this.each(function() {
		      var $table = $(this);
		      var table_structure = [];
		      var trs = $table.children("tbody").children("tr");
		      trs.each(function(index,tr) {

		        // ====================================================================
		        // Transfer to using internal table structure
		        // ====================================================================
		        var ele = {
		            $tr: $(tr),
		            columns: [],
		            index: index
		        };

		        $(tr).children('td').each(function(idx, td){
		            var sort_val = $(td).data("sort-value");

		            // Store and read from the .data cache for display text only sorts
		            // instead of looking through the DOM every time
		            if(typeof(sort_val) === "undefined"){
		              var txt = $(td).text();
		              $(td).data('sort-value', txt);
		              sort_val = txt;
		            }
		            ele.columns.push(sort_val);
		        });
		        table_structure.push(ele);
		      });
		      $table.data('stupidsort_internaltable', table_structure);
		    });
		  };

		  // ====================================================================
		  // Private functions
		  // ====================================================================
		  var sortTable = function(sort_info){
		    var table_structure = sort_info.$table.data('stupidsort_internaltable');
		    var th_index = sort_info.th_index;
		    var $th = sort_info.$th;

		    var multicolumn_target_str = $th.data('sort-multicolumn');
		    var multicolumn_targets;
		    if(multicolumn_target_str){
		        multicolumn_targets = multicolumn_target_str.split(',');
		    }
		    else{
		        multicolumn_targets = [];
		    }
		    var multicolumn_th_targets = $.map(multicolumn_targets, function(identifier, i){
		        return get_th(sort_info.$table, identifier);
		    });

		    table_structure.sort(function(e1, e2){
		      var multicolumns = multicolumn_th_targets.slice(0); // shallow copy
		      var diff = sort_info.compare_fn(e1.columns[th_index], e2.columns[th_index]);
		      while(diff === 0 && multicolumns.length){
		          var multicolumn = multicolumns[0];
		          var datatype = multicolumn.$e.data("sort");
		          var multiCloumnSortMethod = sort_info.$table.data('sortFns')[datatype];
		          diff = multiCloumnSortMethod(e1.columns[multicolumn.index], e2.columns[multicolumn.index]);
		          multicolumns.shift();
		      }
		      // Sort by position in the table if values are the same. This enforces a
		      // stable sort across all browsers. See https://bugs.chromium.org/p/v8/issues/detail?id=90
		      if (diff === 0)
		        return e1.index - e2.index;
		      else
		        return diff;

		    });

		    if (sort_info.sort_dir != $.fn.stupidtable.dir.ASC){
		      table_structure.reverse();
		    }
		      return table_structure;
		  };

		  var get_th = function($table, identifier){
		      // identifier can be a th id or a th index number;
		      var $table_ths = $table.find('th');
		      var index = parseInt(identifier, 10);
		      var $th;
		      if(!index && index !== 0){
		          $th = $table_ths.siblings('#' + identifier);
		          index = $table_ths.index($th);
		      }
		      else{
		          $th = $table_ths.eq(index);
		      }
		      return {index: index, $e: $th};
		  };

		  var getTableRowsFromTableStructure = function(table_structure, sort_info){
		    // Gather individual column for callbacks
		    var column = $.map(table_structure, function(ele, i){
		        return [[ele.columns[sort_info.th_index], ele.$tr, i]];
		    });

		    /* Side effect */
		    sort_info.column = column;

		    // Replace the content of tbody with the sorted rows. Strangely
		    // enough, .append accomplishes this for us.
		    return $.map(table_structure, function(ele) { return ele.$tr; });

		  };

		  var updateElementData = function(sort_info){
		    var $table = sort_info.$table;
		    var $this_th = sort_info.$th;
		    var sort_dir = $this_th.data('sort-dir');


		    // Reset siblings
		    $table.find("th").data("sort-dir", null).removeClass("sorting-desc sorting-asc");
		    $this_th.data("sort-dir", sort_dir).addClass("sorting-"+sort_dir);
		  };

		  var calculateSortDir = function(force_direction, sort_info){
		    var sort_dir;
		    var $this_th = sort_info.$th;
		    var dir = $.fn.stupidtable.dir;

		    if(force_direction){
		        sort_dir = force_direction;
		    }
		    else{
		        sort_dir = force_direction || $this_th.data("sort-default") || dir.ASC;
		        if ($this_th.data("sort-dir"))
		           sort_dir = $this_th.data("sort-dir") === dir.ASC ? dir.DESC : dir.ASC;
		    }
		    return sort_dir;
		  };

		  var calculateTHIndex = function(sort_info){
		    var th_index = 0;
		    var base_index = sort_info.$th.index();
		    sort_info.$th.parents("tr").find("th").slice(0, base_index).each(function() {
		      var cols = $(this).attr("colspan") || 1;
		      th_index += parseInt(cols,10);
		    });
		    return th_index;
		  };

		})(window.jQuery);
	</script>
	<script>
	$(document)
		.ready(function() {

			// fix menu when passed
			$('.masthead')
				.visibility({
					once: false,
					onBottomPassed: function() {
						$('.fixed.menu').transition('fade in');
					},
					onBottomPassedReverse: function() {
						$('.fixed.menu').transition('fade out');
					}
				})
			;

			// create sidebar and attach to menu open
			$('.ui.sidebar')
				.sidebar('attach events', '.toc.item')
			;

			// make sortable tables sortable
			$('.sortable')
				.stupidtable();
			;

			$('a[href^="#"]')
				.on('click', function(event) {
					var target = $(this.getAttribute('href'));
					if( target.length ) {
						event.preventDefault();
						$('html, body').stop().animate({
							scrollTop: target.offset().top
						}, 1000);
					}
				})
			;

			var chartLabels = [
				{% for row in site.data.points %}
				"{{ row.name | capitalize }}"{% if forloop.last == true %}{% else %},{% endif %}
				{% endfor %}
			];

			var chartData = [
				{% for row in site.data.points %}
				{% assign q1 = row.jun | plus: row.jul | plus: row.aug | plus: row.bonus_q1 %}
				{% assign q2 = row.sep | plus: row.oct | plus: row.nov | plus: row.bonus_q2 %}
				{% assign q3 = row.dec | plus: row.jan | plus: row.feb | plus: row.bonus_q3 %}
				{% assign q4 = row.mar | plus: row.apr | plus: row.may | plus: row.bonus_q4 %}
				{% assign ytd = q1 | plus: q2 | plus: q3 | plus: q4 %}
				{{ ytd }}{% if forloop.last == true %}{% else %},{% endif %}
				{% endfor %}
			];

			// Sort total points, highest to lowest
			var sortedData = chartData.slice().sort(function(a, b) {return b-a});
			// Give points an overall ranking
			var ranks = $.grep(sortedData, function(item, idx) {
			    return item != sortedData[idx - 1];
			});
			// Create new array with rank "score" of total points which should
			// also allow for multiple of the same rank (e.g. ties)
			var rankedData = [];
			$.each(chartData, function(idx, item) {
			    var rank = $.inArray(item, ranks);   
			    rankedData.push(rank)
			});

			var backgroundColors = rankedData.slice();

			console.log(chartData, rankedData);

			for (var i = 0; i < rankedData.length; i++) {
			    switch (rankedData[i]) {
				case 0:
				    backgroundColors[i] = "rgb(214, 175, 54)";
				    break;
				case 1:
				    backgroundColors[i] = "rgb(167, 167, 173)";
				    break;
				case 2:
				    backgroundColors[i] = "rgb(167, 112, 68)";
				    break;
				default:
				    backgroundColors[i] = "rgb(236, 240, 241)";
			    }
			};

			var barChartData = {
				labels: chartLabels,
				datasets: [{
					label: "Championship Points",
					backgroundColor: backgroundColors,
					data: chartData
				}]
			};

			var ctx = document.getElementById('pointsChart').getContext('2d');
			window.myBar = new Chart(ctx, {
				type: 'bar',
				data: barChartData,
				options: {
					title: {
						display: true,
						text: "Constructors' Championship Medal Outlook"
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					legend: {
						display: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							display: true,
							scaleLabel: {
								display: false
							},
							ticks: {
								beginAtZero: true
							}
						}],
						yAxes: [{
							scaleLabel: {
								display: true,
								labelString: 'Points to Date'
							},
							ticks: {
								min: 0,
								suggestedMax: 100,
			                    			beginAtZero: true
			                		}
						}]
					}
				}
			});

		})
	;
	</script>
</head>
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
	<div class="ui container">
		<a class="active item" href="#home">FY2020</a>
		<a class="item" href="#rules">Rules</a>
		<a class="item" href="#standings">Standings</a>
		<a class="item" href="#drivers">Drivers</a>
	</div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
	<a class="active item" href="#home">FY2020</a>
	<a class="item" href="#rules">Rules</a
	<a class="item" href="#standings">Standings</a>
	<a class="item" href="#drivers">Drivers</a>
</div>


<!-- Page Contents -->
<div class="pusher">
	<div id="home" class="ui inverted vertical masthead center aligned segment">

		<div class="ui container">
			<div class="ui large secondary inverted pointing menu">
				<a class="toc item">
					<i class="sidebar icon"></i>
				</a>
				<a class="active item" href="#home">FY2020</a>
				<a class="item" href="#rules">Rules</a>
	
				<a class="item" href="#standings">Standings</a>
				<a class="item" href="#drivers">Drivers</a>
			</div>
		</div>

		<div class="ui text container">
			<h1 class="ui inverted header">
				{{ site.title }}
			</h1>
			<h2>{{ site.description }}</h2>
		</div>

	</div>

	<div class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="eight wide column">
					<h3 class="ui header">Some Formula One Trivia</h3>
					<p>The formula in the name Formula One refers to a set of rules to which all participants and cars must comply and was originally and briefly known as Formula A. The first official world championship race was held in 1950 at Silverstone.<sup><a href="#sources">[1]</a></sup></p>
					<h3 class="ui header">Another Fun Fact to Know and Tell</h3>
					<p>The oldest extant teams to have never changed names include Ferrari, McLaren, and Williams (the current Mercedes lineage actually dates back to Tyrrell, which rebranded a number of times as BAR, Honda, and Brawn).<sup><a href="#sources">[2]</a></sup></p>
				</div>
				<div class="six wide right floated column">
					<img src="assets/images/formula1_prost.jpg" class="ui large bordered rounded image">
				</div>
			</div>
			<div class="row">
				<div class="center aligned column">
					<a href="https://www.netflix.com/title/80204890" target="_blank" class="ui huge inverted red button">Watch "Drive to Survive" on Netflix</a>
				</div>
			</div>
		</div>
	</div>

	<div id="rules" class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="twelve wide column centered">
					<h1 class="ui centered header">
						Points
						<div class="sub header">How Are They Awarded?</div>
					</h1>
				</div>
			</div>
			<div class="row">
				<div class="six wide column centered">
					<table class="ui celled padded table">
						<thead>
							<tr>
								<th colspan="2">Monthly Point Rules</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Logo as Lead SC</td>
								<td>2 pts</td>
							</tr>
							<tr>
								<td>Logo as Secondary SC</td>
								<td>1 pt</td>
							</tr>
							<tr>
								<td>$25k ARR per Deal</td>
								<td>1 pt</td>
							</tr>
							<tr>
								<td>SC Request with #dmd</td>
								<td>1 pt</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="six wide column centered">
					<table class="ui celled padded table">
						<thead>
							<tr>
								<th colspan="2">Quarterly Point Rules</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Top Lead SC ARR*</td>
								<td>5 pts</td>
							</tr>
							<tr>
								<td>Top Lead SC Logos*</td>
								<td>5 pts</td>
							</tr>
							<tr>
								<td>Fastest Lap</td>
								<td>1 pt</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th colspan="2"><em>* QTD actuals for both ARR and Logos, not monthly points total</em></th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>


	<div class="ui inverted vertical stripe quote segment">
		<div class="ui equal width stackable internally celled grid">
			<div class="center aligned row">
				<div class="column">
					<h3>"Best. Team. Ever."</h3>
					<p>Everyone when asked about Team Services</p>
				</div>
				<div class="column">
					<h3>"I wish I was on Team Services."</h3>
					<p>Someone not on Team Services</p>
				</div>
			</div>
		</div>
	</div>

	<div id="standings" class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<!-- Computer only -->
				<div class="sixteen wide column computer only centered">
					<h2 class="ui top  center aligned header">
					  🏎 Current Constructors Standings <span class="flip-text-h">🏎</span>
					</h2>
					<table class="ui sortable selectable celled padded attached table">
						<thead>
							<tr>
								<th data-sort="string" class="left aligned">Name</th>
								<th data-sort="int" class="right aligned">Jun</th>
								<th data-sort="int" class="right aligned">Jul</th>
								<th data-sort="int" class="right aligned">Aug</th>
								<th data-sort="int" class="right aligned"><i class="battery quarter icon"></i></th>
								<th data-sort="int" class="right aligned">Sep</th>
								<th data-sort="int" class="right aligned">Oct</th>
								<th data-sort="int" class="right aligned">Nov</th>
								<th data-sort="int" class="right aligned"><i class="battery half icon"></i></th>
								<th data-sort="int" class="right aligned">Dec</th>
								<th data-sort="int" class="right aligned">Jan</th>
								<th data-sort="int" class="right aligned">Feb</th>
								<th data-sort="int" class="right aligned"><i class="battery three quarters icon"></i></th>
								<th data-sort="int" class="right aligned">Mar</th>
								<th data-sort="int" class="right aligned">Apr</th>
								<th data-sort="int" class="right aligned">May</th>
								<th data-sort="int" class="right aligned"><i class="battery full icon"></i></th>
								<th data-sort="int" class="right aligned" title="Bonus Points">👑</th>
								<th data-sort="int" data-sort-onload="yes" data-sort-default="desc" class="right aligned" title="Total Points">🏁</th>
							</tr>
						</thead>
						<tbody>
							{% comment %}
							Create variables for quarters and summary columns
							{% endcomment %}


							{% assign t_jun = 0 %}
							{% assign t_jul = 0 %}
							{% assign t_aug = 0 %}
							{% assign t_sep = 0 %}
							{% assign t_oct = 0 %}
							{% assign t_nov = 0 %}
							{% assign t_dec = 0 %}
							{% assign t_jan = 0 %}
							{% assign t_feb = 0 %}
							{% assign t_mar = 0 %}
							{% assign t_apr = 0 %}
							{% assign t_may = 0 %}
							{% assign t_q1 = 0 %}
							{% assign t_q2 = 0 %}
							{% assign t_q3 = 0 %}
							{% assign t_q4 = 0 %}
							{% assign t_btd = 0 %}
							{% assign t_ytd = 0 %}

							{% for row in site.data.points %}

							{% assign q1 = row.jun | plus: row.jul | plus: row.aug | plus: row.bonus_q1 %}
							{% assign q2 = row.sep | plus: row.oct | plus: row.nov | plus: row.bonus_q2 %}
							{% assign q3 = row.dec | plus: row.jan | plus: row.feb | plus: row.bonus_q3 %}
							{% assign q4 = row.mar | plus: row.apr | plus: row.may | plus: row.bonus_q4 %}
							{% assign btd = row.bonus_q1 | plus: row.bonus_q2 | plus: row.bonus_q3 | plus: row.bonus_q4 %}
							{% assign ytd = q1 | plus: q2 | plus: q3 | plus: q4 %}

							<tr>
								<td class="left aligned">{{ row.name | capitalize }}</td>
								<td class="right aligned">{{ row.jun }}</td>
								<td class="right aligned">{{ row.jul }}</td>
								<td class="right aligned">{{ row.aug }}</td>
								<td class="right aligned disabled">{{ q1 }}</td>
								<td class="right aligned">{{ row.sep }}</td>
								<td class="right aligned">{{ row.oct }}</td>
								<td class="right aligned">{{ row.nov }}</td>
								<td class="right aligned disabled">{{ q2 }}</td>
								<td class="right aligned">{{ row.dec }}</td>
								<td class="right aligned">{{ row.jan }}</td>
								<td class="right aligned">{{ row.feb }}</td>
								<td class="right aligned disabled">{{ q3 }}</td>
								<td class="right aligned">{{ row.mar }}</td>
								<td class="right aligned">{{ row.apr }}</td>
								<td class="right aligned">{{ row.may }}</td>
								<td class="right aligned disabled">{{ q4 }}</td>
								<td class="right aligned">{{ btd }}</td>
								<td class="right aligned"> {{ ytd }}</td>
							</tr>

							{% assign t_jun = t_jun | plus: row.jun %}
							{% assign t_jul = t_jul | plus: row.jul %}
							{% assign t_aug = t_aug | plus: row.aug %}
							{% assign t_sep = t_sep | plus: row.sep %}
							{% assign t_oct = t_oct | plus: row.oct %}
							{% assign t_nov = t_nov | plus: row.nov %}
							{% assign t_dec = t_dec | plus: row.dec %}
							{% assign t_jan = t_jan | plus: row.jan %}
							{% assign t_feb = t_feb | plus: row.feb %}
							{% assign t_mar = t_mar | plus: row.mar %}
							{% assign t_apr = t_apr | plus: row.apr %}
							{% assign t_may = t_may | plus: row.may %}
							{% assign t_b1 = t_b1 | plus: row.bonus_q1 %}
							{% assign t_b2 = t_b2 | plus: row.bonus_q2 %}
							{% assign t_b3 = t_b3 | plus: row.bonus_q3 %}
							{% assign t_b4 = t_b4 | plus: row.bonus_q4 %}
							{% assign t_q1 = t_q1 | plus: q1 %}
							{% assign t_q2 = t_q2 | plus: q2 %}
							{% assign t_q3 = t_q3 | plus: q3 %}
							{% assign t_q4 = t_q4 | plus: q4 %}
							{% assign t_btd = t_btd | plus: btd %}
							{% assign t_ytd = t_ytd | plus: ytd %}

							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th class="left aligned">Total</th>
								<th class="right aligned">{{ t_jun }}</th>
								<th class="right aligned">{{ t_jul }}</th>
								<th class="right aligned">{{ t_aug }}</th>
								<th class="right aligned disabled">{{ t_q1 }}</th>
								<th class="right aligned">{{ t_sep }}</th>
								<th class="right aligned">{{ t_oct }}</th>
								<th class="right aligned">{{ t_nov }}</th>
								<th class="right aligned disabled">{{ t_q2 }}</th>
								<th class="right aligned">{{ t_dec }}</th>
								<th class="right aligned">{{ t_jan }}</th>
								<th class="right aligned">{{ t_feb }}</th>
								<th class="right aligned disabled">{{ t_q3 }}</th>
								<th class="right aligned">{{ t_mar }}</th>
								<th class="right aligned">{{ t_apr }}</th>
								<th class="right aligned">{{ t_may }}</th>
								<th class="right aligned disabled">{{ t_q4 }}</th>
								<th class="right aligned">{{ t_btd }}</th>
								<th class="right aligned">{{ t_ytd }}</th>
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- Mobile only -->
				<div class="sixteen wide column mobile only centered">
					<h2 class="ui top attached center aligned header">
					  🏎 Current Constructors' Summary <span class="flip-text-h">🏎</span>
					</h2>
					<table class="ui sortable selectable unstackable celled padded attached table">
						<thead>
							<tr>
								<th class="left aligned">Name</th>
								<th class="right aligned">🏁</th>
							</tr>
						</thead>
						<tbody>
							{% comment %}
							Create variables for quarters and summary columns
							{% endcomment %}


							{% assign t_jun = 0 %}
							{% assign t_jul = 0 %}
							{% assign t_aug = 0 %}
							{% assign t_sep = 0 %}
							{% assign t_oct = 0 %}
							{% assign t_nov = 0 %}
							{% assign t_dec = 0 %}
							{% assign t_jan = 0 %}
							{% assign t_feb = 0 %}
							{% assign t_mar = 0 %}
							{% assign t_apr = 0 %}
							{% assign t_may = 0 %}
							{% assign t_q1 = 0 %}
							{% assign t_q2 = 0 %}
							{% assign t_q3 = 0 %}
							{% assign t_q4 = 0 %}
							{% assign t_ytd = 0 %}

							{% for row in site.data.points %}

							{% assign q1 = row.jun | plus: row.jul | plus: row.aug | plus: row.bonus_q1 %}
							{% assign q2 = row.sep | plus: row.oct | plus: row.nov | plus: row.bonus_q2 %}
							{% assign q3 = row.dec | plus: row.jan | plus: row.feb | plus: row.bonus_q3 %}
							{% assign q4 = row.mar | plus: row.apr | plus: row.may | plus: row.bonus_q4 %}
							{% assign ytd = q1 | plus: q2 | plus: q3 | plus: q4 %}

							<tr>
								<td class="left aligned">{{ row.name | capitalize }}</td>
								<td class="right aligned"> {{ ytd }}</td>
							</tr>

							{% assign t_jun = t_jun | plus: row.jun %}
							{% assign t_jul = t_jul | plus: row.jul %}
							{% assign t_aug = t_aug | plus: row.aug %}
							{% assign t_sep = t_sep | plus: row.sep %}
							{% assign t_oct = t_oct | plus: row.oct %}
							{% assign t_nov = t_nov | plus: row.nov %}
							{% assign t_dec = t_dec | plus: row.dec %}
							{% assign t_jan = t_jan | plus: row.jan %}
							{% assign t_feb = t_feb | plus: row.feb %}
							{% assign t_mar = t_mar | plus: row.mar %}
							{% assign t_apr = t_apr | plus: row.apr %}
							{% assign t_may = t_may | plus: row.may %}
							{% assign t_q1 = t_q1 | plus: q1 %}
							{% assign t_q2 = t_q2 | plus: q2 %}
							{% assign t_q3 = t_q3 | plus: q3 %}
							{% assign t_q4 = t_q4 | plus: q4 %}
							{% assign t_ytd = t_ytd | plus: ytd %}

							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th class="left aligned">Total</th>
								<th data-sort="int" class="right aligned">{{ t_ytd }}</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="sixteen wide column centered">
					<canvas id="pointsChart"></canvas>
				</div>
			</div>
		</div>
	</div>

	<div class="ui inverted vertical stripe quote segment">
		<div class="ui equal width stackable internally celled grid">
			<div class="center aligned row">
				<div class="column">
					<h3>"Byyeeee!"</h3>
					<p>The end of every team call</p>
				</div>
				<div class="column">
					<h3>":please_reply_in_threads:"</h3>
					<p>Favorite team Slack emoji</p>
				</div>
			</div>
		</div>
	</div>

	<div id="drivers" class="ui vertical stripe segment">
		<div class="ui middle aligned stackable grid container">
			<div class="row">
				<div class="nine wide column centered">
					<h2 class="ui center aligned header">
					  Meet Your FY2020 Drivers
					</h2>
					<div class="ui three doubling cards">
						{% for driver in site.data.drivers %}
						<div class="card">
							<div class="content">
								<i class="right floated {{ driver.flag }} flag"></i>
								<div class="header">{{ driver.name }}</div>
								<div class="meta">Team {{ driver.team }}</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="sources" class="ui inverted vertical footer segment">
		<div class="ui container">
			<div class="ui stackable inverted divided equal height stackable grid">
				<div class="three wide column">
					<h4 class="ui inverted header">F1 Links</h4>
					<div class="ui inverted link list">
						{% for link in site.data.links %}
						<a href="{{ link.url }}" target="_blank" class="item">{{ link.name }}</a>
						{% endfor %}
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header">F1 Podcasts</h4>
					<div class="ui inverted link list">
						{% for podcast in site.data.podcasts %}
						<a href="{{ podcast.url }}" target="_blank" class="item">{{ podcast.name }}</a>
						{% endfor %}
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header">Trivia Sources</h4>
					<div class="ui inverted link list">
						<a href="http://en.espn.co.uk/f1/motorsport/story/3831.html" target="_blank" class="item">[1] en.espn.co.uk</a>
						<a href="https://www.thedrive.com/start-finish/10911/60-years-of-the-f1-world-constructors-championship-a-guide" target="_blank" class="item">[2] www.thedrive.com</a>
					</div>
				</div>
				<div class="seven wide column">
					<h4 class="ui inverted header">Freshness Guaranteed</h4>
					<p>The data on this page was last upated {{ site.time | date: "%-d %b %Y"}}.</p>
				</div>
			</div>
		</div>
	</div>
</div>

</body>

</html>
