<div id="archive" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="nine wide column centered">
                <h2 class="ui center aligned header">
                  Previous Winners Archive
                </h2>

                <div class="ui segment">
                    <div class="ui divided items">
                        {% for winner in site.data.winner_archive %}
                        <div class="item">
                            <div class="ui tiny image">
                                <img src="{{ winner.picture }}">
                            </div>
                            <div class="content">
                                <div class="header">{{ winner.name }}</div>
                                <div class="meta">
                                    <span><i class="calendar trophy icon"></i> {{ winner.place }} Place - {{ winner.points }} points</span>
                                </div>
                                <div class="description">
                                    <p>{{ winner.comments }}</p>
                                </div>
                                <div class="extra">
                                    <div class="ui label">
                                        Fiscal {{ winner.year }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>