{% assign t_jun = 0 %}
{% assign t_jul = 0 %}
{% assign t_aug = 0 %}
{% assign t_sep = 0 %}
{% assign t_oct = 0 %}
{% assign t_nov = 0 %}
{% assign t_dec = 0 %}
{% assign t_jan = 0 %}
{% assign t_feb = 0 %}
{% assign t_mar = 0 %}
{% assign t_apr = 0 %}
{% assign t_may = 0 %}
{% assign t_q1 = 0 %}
{% assign t_q2 = 0 %}
{% assign t_q3 = 0 %}
{% assign t_q4 = 0 %}
{% assign t_btd = 0 %}
{% assign t_ytd = 0 %}

{% assign logo_q1 = 0 %}
{% assign logo_q2 = 0 %}
{% assign logo_q3 = 0 %}
{% assign logo_q4 = 0 %}
{% assign logo_ytd = 0 %}

{% assign rev_q1 = 0 %}
{% assign rev_q2 = 0 %}
{% assign rev_q3 = 0 %}
{% assign rev_q4 = 0 %}
{% assign rev_ytd = 0 %}

{% assign bon_q1 = 0 %}
{% assign bon_q2 = 0 %}
{% assign bon_q3 = 0 %}
{% assign bon_q4 = 0 %}
{% assign bon_ytd = 0 %}

{% assign q1 = 0 %}
{% assign q2 = 0 %}
{% assign q3 = 0 %}
{% assign q4 = 0 %}

{% for row in site.data.current_points %}

	{% assign r_jun = row.jun.logo | plus: row.jun.arr | plus: row.jun.bonus %}
	{% assign r_jul = row.jul.logo | plus: row.jul.arr | plus: row.jul.bonus %}
	{% assign r_aug = row.aug.logo | plus: row.aug.arr | plus: row.aug.bonus %}
	{% assign r_sep = row.sep.logo | plus: row.sep.arr | plus: row.sep.bonus %}
	{% assign r_oct = row.oct.logo | plus: row.oct.arr | plus: row.oct.bonus %}
	{% assign r_nov = row.nov.logo | plus: row.nov.arr | plus: row.nov.bonus %}
	{% assign r_dec = row.dec.logo | plus: row.dec.arr | plus: row.dec.bonus %}
	{% assign r_jan = row.jan.logo | plus: row.jan.arr | plus: row.jan.bonus %}
	{% assign r_feb = row.feb.logo | plus: row.feb.arr | plus: row.feb.bonus %}
	{% assign r_mar = row.mar.logo | plus: row.mar.arr | plus: row.mar.bonus %}
	{% assign r_apr = row.apr.logo | plus: row.apr.arr | plus: row.apr.bonus %}
	{% assign r_may = row.may.logo | plus: row.may.arr | plus: row.may.bonus %}

	{% assign logo_q1 = logo_q1 | plus: row.jun.logo | plus: row.jul.logo | plus: row.aug.logo %}
	{% assign logo_q2 = row.sep.logo | plus: row.oct.logo | plus: row.nov.logo %}
	{% assign logo_q3 = row.dec.logo | plus: row.jan.logo | plus: row.feb.logo %}
	{% assign logo_q4 = row.mar.logo | plus: row.apr.logo | plus: row.may.logo %}
	{% assign logo_ytd = logo_q1 | plus: logo_q2 | plus: logo_q3 | plus: logo_q4 %}

	{% assign rev_q1 = row.jun.arr | plus: row.jul.arr | plus: row.aug.arr %}
	{% assign rev_q2 = row.sep.arr | plus: row.oct.arr | plus: row.nov.arr %}
	{% assign rev_q3 = row.dec.arr | plus: row.jan.arr | plus: row.feb.arr %}
	{% assign rev_q4 = row.mar.arr | plus: row.apr.arr | plus: row.may.arr %}
	{% assign rev_ytd = rev_q1 | plus: rev_q2 | plus: rev_q3 | plus: rev_q4 %}

	{% assign bon_q1 = row.jun.bonus | plus: row.jul.bonus | plus: row.aug.bonus %}
	{% assign bon_q2 = row.sep.bonus | plus: row.oct.bonus | plus: row.nov.bonus %}
	{% assign bon_q3 = row.dec.bonus | plus: row.jan.bonus | plus: row.feb.bonus %}
	{% assign bon_q4 = row.mar.bonus | plus: row.apr.bonus | plus: row.may.bonus %}
	{% assign bon_ytd = bon_q1 | plus: bon_q2 | plus: bon_q3 | plus: bon_q4 %}

	{% assign q1 = logo_q1 | plus: rev_q1 | plus: bon_q1 | plus: row.bonus_q1 %}
	{% assign q2 = logo_q2 | plus: rev_q2 | plus: bon_q2 | plus: row.bonus_q2 %}
	{% assign q3 = logo_q3 | plus: rev_q3 | plus: bon_q3 | plus: row.bonus_q3 %}
	{% assign q4 = logo_q4 | plus: rev_q4 | plus: bon_q4 | plus: row.bonus_q4 %}

	{% assign btd = row.bonus_q1 | plus: row.bonus_q2 | plus: row.bonus_q3 | plus: row.bonus_q4 %}
	
	{% assign ytd = q1 | plus: q2 | plus: q3 | plus: q4 %}

	{% assign t_jun = t_jun | plus: r_jun %}
	{% assign t_jul = t_jul | plus: r_jul %}
	{% assign t_aug = t_aug | plus: r_aug %}
	{% assign t_sep = t_sep | plus: r_sep %}
	{% assign t_oct = t_oct | plus: r_oct %}
	{% assign t_nov = t_nov | plus: r_nov %}
	{% assign t_dec = t_dec | plus: r_dec %}
	{% assign t_jan = t_jan | plus: r_jan %}
	{% assign t_feb = t_feb | plus: r_feb %}
	{% assign t_mar = t_mar | plus: r_mar %}
	{% assign t_apr = t_apr | plus: r_apr %}
	{% assign t_may = t_may | plus: r_may %}
	{% assign t_b1 = bon_q1 | plus: row.bonus_q1 %}
	{% assign t_b2 = bon_q2 | plus: row.bonus_q2 %}
	{% assign t_b3 = bon_q3 | plus: row.bonus_q3 %}
	{% assign t_b4 = bon_q4 | plus: row.bonus_q4 %}
	{% assign t_q1 = t_q1 | plus: q1 %}
	{% assign t_q2 = t_q2 | plus: q2 %}
	{% assign t_q3 = t_q3 | plus: q3 %}
	{% assign t_q4 = t_q4 | plus: q4 %}
	{% assign t_btd = t_btd | plus: btd %}
	{% assign t_ytd = t_ytd | plus: ytd %}

	{% assign diff_q2 = t_q2 | minus: t_q1 | times: 1.0 %}
	{% if t_q1 > 0 and t_q2 > 0 %}
		{% assign g_q2 = diff_q2 | divided_by: t_q1 | round: 2 | times: 100 | round %}
	{% else %}
		{% assign g_q2 = 0 %}
	{% endif %}

	{% assign diff_q3 = t_q3 | minus: t_q2 | times: 1.0 %}
	{% if t_q2 > 0 and t_q3 > 0 %}
		{% assign g_q3 = diff_q3 | divided_by: t_q2 | round: 2 | times: 100 | round %}
	{% else %}
		{% assign g_q3 = 0 %}
	{% endif %}

	{% assign diff_q4 = t_q4 | minus: t_q3 | times: 1.0 %}
	{% if t_q3 > 0 and t_q4 > 0 %}
		{% assign g_q4 = diff_q4 | divided_by: t_q3 | round: 2 | times: 100 | round %}
	{% else %}
		{% assign g_q4 = 0 %}
	{% endif %}

{% endfor %}


<div class="ui inverted vertical center aligned dashchart segment" id="stats">
	<div class="ui dashboard stackable internally celled grid">
		<div class="row">
			<div class="six wide column">
				<div class="ui segment alt">
					<div id="chart-radial"></div>
				</div>
			</div>
			<div class="ten wide column">
				<div class="ui segment alt">
					<div id="chart-fancy-2"></div>
				</div>
			</div>
		</div>

	</div>

	<div class="ui dashboard grid">

		<h4 class="ui horizontal inverted divider">
		Current Fiscal Year
		</h4>

		<div class="row">
			<div class="column">
				<div class="ui segment alt">
					<div class="stage">
						<i class="right angle remove icon"></i>
						<div class="ct chart" id="chart-bar"></div>
						<div class="rotated title">
							<h3>Total Points by SC</h3>
						</div>
					</div>
					<div class="stage active">
						<i class="left angle remove icon transition hidden"></i>
						<div class="content">
							<div class="ui huge left floated statistic">
								<div class="value" data-tooltip="Points summary for Fiscal Year" data-position="top center">
									{{ t_ytd }}
								</div>
								<div class="label">
									points YTD
								</div>
								<div class="label" data-tooltip="Logos | ARR | Bonus" data-position="bottom center">
									<i class="pink user plus icon"></i>
									<span>{{ logo_ytd }}</span> | 
									<i class="green money bill alternate outline icon"></i>
									<span>{{ rev_ytd }}</span> |
									<i class="yellow trophy icon"></i>
									<span>{{ t_btd }}</span>
								</div>
							</div>
							<div class="ui small grey statistics">
								<div class="statistic">
									<div class="value" data-tooltip="Points summary for Q1" data-position="top center">
										{{ t_q1 }}
									</div>
									<div class="label">
										Q1
									</div>
									<div class="label" data-tooltip="Logos | ARR | Bonus" data-position="bottom center">
										<i class="pink user plus icon"></i>
										<span>{{ logo_q1 }}</span> | 
										<i class="green money bill alternate outline icon"></i>
										<span>{{ rev_q1 }}</span> |
										<i class="yellow trophy icon"></i>
										<span>{{ t_b1 }}</span>
									</div>
								</div>
								<div class="statistic">
									<div class="value" data-tooltip="Points summary for Q2" data-position="top center">
										{{ t_q2 }}
										{% if t_q2 > 0 %}
										<small class="{% if g_q2 > 0 %}positive{% elsif g_q2 < 0 %}negative{% else %}neutral{% endif %}">
											<i class="small icons">
												<i class="green sort up icon"></i>
												<i class="red sort down icon"></i>
											</i>
											{{ g_q2 }}%
										</small>
										{% endif %}
									</div>
									<div class="label">
										Q2
									</div>
									<div class="label" data-tooltip="Logos | ARR | Bonus" data-position="bottom center">
										<i class="pink user plus icon"></i>
										<span>{{ logo_q2 }}</span> | 
										<i class="green money bill alternate outline icon"></i>
										<span>{{ rev_q2 }}</span>    |
										<i class="yellow trophy icon"></i>
										<span>{{ t_b2 }}</span>           
									</div>
								</div>
								<div class="statistic">
									<div class="value" data-tooltip="Points summary for Q3" data-position="top center">
										{{ t_q3 }}
										{% if t_q3 > 0 %}  
										<small class="{% if g_q3 > 0 %}positive{% elsif g_q3 < 0 %}negative{% else %}neutral{% endif %}">
											<i class="small icons">
												<i class="green sort up icon"></i>
												<i class="red sort down icon"></i>
											</i>
											{{ g_q3 }}%
										</small>
										{% endif %}
									</div>
									<div class="label">
										Q3
									</div>
									<div class="label" data-tooltip="Logos | ARR | Bonus" data-position="bottom center">
										<i class="pink user plus icon"></i>
										<span>{{ logo_q3 }}</span> | 
										<i class="green money bill alternate outline icon"></i>
										<span>{{ rev_q3 }}</span>   |
										<i class="yellow trophy icon"></i>
										<span>{{ t_b3 }}</span>             
									</div>
								</div>
								<div class="statistic">
									<div class="value" data-tooltip="Points summary for Q4" data-position="top center">
										{{ t_q4 }}
										{% if t_q4 > 0 %}
										<small class="{% if g_q4 > 0 %}positive{% elsif g_q4 < 0 %}negative{% else %}neutral{% endif %}">
											<i class="small icons">
												<i class="green sort up icon"></i>
												<i class="red sort down icon"></i>
											</i>
											{{ g_q4 }}%
										</small>
										{% endif %}
									</div>
									<div class="label">
										Q4
									</div>
									<div class="label" data-tooltip="Logos | ARR | Bonus" data-position="bottom center">
										<i class="pink user plus icon"></i>
										<span>{{ logo_q4 }}</span> | 
										<i class="green money bill alternate outline icon"></i>
										<span>{{ rev_q4 }}</span>       |
										<i class="yellow trophy icon"></i>
										<span>{{ t_b4 }}</span>          
									</div>
								</div>
							</div>            
						</div>
						<div class="rotated title">
							<h3>Quarterly Team Stats</h3>
						</div>
					</div>
				</div>      
			</div>
		</div>  
	</div>
</div>
