{% assign logo_q1 = 0 %}
{% assign logo_q2 = 0 %}
{% assign logo_q3 = 0 %}
{% assign logo_q4 = 0 %}
{% assign logo_ytd = 0 %}

{% assign rev_q1 = 0 %}
{% assign rev_q2 = 0 %}
{% assign rev_q3 = 0 %}
{% assign rev_q4 = 0 %}
{% assign rev_ytd = 0 %}

{% assign bon_q1 = 0 %}
{% assign bon_q2 = 0 %}
{% assign bon_q3 = 0 %}
{% assign bon_q4 = 0 %}
{% assign bon_ytd = 0 %}

{% assign q1 = 0 %}
{% assign q2 = 0 %}
{% assign q3 = 0 %}
{% assign q4 = 0 %}

{% assign btd = 0 %}

{% assign ytd = 0 %}

{% for row in site.data.current_points %}

	{% assign logo_q1 = row.jun.logo | plus: row.jul.logo | plus: row.aug.logo %}
	{% assign logo_q2 = row.sep.logo | plus: row.oct.logo | plus: row.nov.logo %}
	{% assign logo_q3 = row.dec.logo | plus: row.jan.logo | plus: row.feb.logo %}
	{% assign logo_q4 = row.mar.logo | plus: row.apr.logo | plus: row.may.logo %}
	{% assign logo_ytd = logo_q1 | plus: logo_q2 | plus: logo_q3 | plus: logo_q4 %}

	{% assign rev_q1 = rev_q1 | plus: row.jun.arr | plus: row.jul.arr | plus: row.aug.arr %}
	{% assign rev_q2 = rev_q2 | plus: row.sep.arr | plus: row.oct.arr | plus: row.nov.arr %}
	{% assign rev_q3 = rev_q3 | plus: row.dec.arr | plus: row.jan.arr | plus: row.feb.arr %}
	{% assign rev_q4 = rev_q4 | plus: row.mar.arr | plus: row.apr.arr | plus: row.may.arr %}
	{% assign rev_ytd = rev_ytd | plus: rev_q1 | plus: rev_q2 | plus: rev_q3 | plus: rev_q4 %}

	{% assign bon_q1 = bon_q1 | plus: row.jun.bonus | plus: row.jul.bonus | plus: row.aug.bonus %}
	{% assign bon_q2 = bon_q2 | plus: row.sep.bonus | plus: row.oct.bonus | plus: row.nov.bonus %}
	{% assign bon_q3 = bon_q3 | plus: row.dec.bonus | plus: row.jan.bonus | plus: row.feb.bonus %}
	{% assign bon_q4 = bon_q4 | plus: row.mar.bonus | plus: row.apr.bonus | plus: row.may.bonus %}
	{% assign bon_ytd = bon_ytd | plus: bon_q1 | plus: bon_q2 | plus: bon_q3 | plus: bon_q4 %}

	{% assign q1 = logo_q1 | plus: rev_q1 | plus: bon_q1 | plus: row.bonus_q1 %}
	{% assign q2 = logo_q2 | plus: rev_q2 | plus: bon_q2 | plus: row.bonus_q2 %}
	{% assign q3 = logo_q3 | plus: rev_q3 | plus: bon_q3 | plus: row.bonus_q3 %}
	{% assign q4 = logo_q4 | plus: rev_q4 | plus: bon_q4 | plus: row.bonus_q4 %}

	{% assign b1 = row.bonus_q1 %}
	{% assign b2 = row.bonus_q2 %}
	{% assign b3 = row.bonus_q3 %}
	{% assign b4 = row.bonus_q4 %}

	{% assign btd = row.bonus_q1 | plus: row.bonus_q2 | plus: row.bonus_q3 | plus: row.bonus_q4 %}
	{% assign ytd = q1 | plus: q2 | plus: q3 | plus: q4 %}

	{% assign diff_q2 = q2 | minus: q1 | times: 1.0 %}
	{% if q1 > 0 and q2 > 0 %}
		{% assign g_q2 = diff_q2 | divided_by: q1 | round: 2 | times: 100 | round %}
	{% else %}
		{% assign g_q2 = 0 %}
	{% endif %}

	{% assign diff_q3 = q3 | minus: q2 | times: 1.0 %}
	{% if q2 > 0 and q3 > 0 %}
		{% assign g_q3 = diff_q3 | divided_by: q2 | round: 2 | times: 100 | round %}
	{% else %}
		{% assign g_q3 = 0 %}
	{% endif %}

	{% assign diff_q4 = q4 | minus: q3 | times: 1.0 %}
	{% if q3 > 0 and q4 > 0 %}
		{% assign g_q4 = diff_q4 | divided_by: q3 | round: 2 | times: 100 | round %}
	{% else %}
		{% assign g_q4 = 0 %}
	{% endif %}

{% endfor %}


<div class="ui inverted vertical center aligned dashchart segment" id="stats">
	<div class="ui dashboard stackable internally celled grid">
		<div class="row">
			<div class="six wide column">
				<div class="ui segment alt">
					<div id="chart-radial"></div>
				</div>
			</div>
			<div class="ten wide column">
				<div class="ui segment alt">
					<div id="chart-fancy-2"></div>
				</div>
			</div>
		</div>

	</div>

	<div class="ui dashboard grid">

		<h4 class="ui horizontal inverted divider">
		Current Fiscal Year
		</h4>

		<div class="row">
			<div class="column">
				<div class="ui segment alt">
					<div class="stage">
						<i class="right angle remove icon"></i>
						<div class="ct chart" id="chart-bar"></div>
						<div class="rotated title">
							<h3>Total Points by SC</h3>
						</div>
					</div>
					<div class="stage active">
						<i class="left angle remove icon transition hidden"></i>
						<div class="content">
							<div class="ui huge left floated statistic">
								<div class="value" data-tooltip="Points summary for Fiscal Year" data-position="top center">
									{{ ytd }}
								</div>
								<div class="label">
									points YTD
								</div>
								<div class="label" data-tooltip="Logos | ARR | Bonus" data-position="bottom center">
									<i class="pink user plus icon"></i>
									<span>{{ logo_ytd }}</span> | 
									<i class="green money bill alternate outline icon"></i>
									<span>{{ rev_ytd }}</span> |
									<i class="yellow trophy icon"></i>
									<span>{{ btd }}</span>
								</div>
							</div>
							<div class="ui small grey statistics">
								<div class="statistic">
									<div class="value" data-tooltip="Points summary for Q1" data-position="top center">
										{{ q1 }}
									</div>
									<div class="label">
										Q1
									</div>
									<div class="label" data-tooltip="Logos | ARR | Bonus" data-position="bottom center">
										<i class="pink user plus icon"></i>
										<span>{{ logo_q1 }}</span> | 
										<i class="green money bill alternate outline icon"></i>
										<span>{{ rev_q1 }}</span> |
										<i class="yellow trophy icon"></i>
										<span>{{ b1 }}</span>
									</div>
								</div>
								<div class="statistic">
									<div class="value" data-tooltip="Points summary for Q2" data-position="top center">
										{{ q2 }}
										{% if q2 > 0 %}
										<small class="{% if g_q2 > 0 %}positive{% elsif g_q2 < 0 %}negative{% else %}neutral{% endif %}">
											<i class="small icons">
												<i class="green sort up icon"></i>
												<i class="red sort down icon"></i>
											</i>
											{{ g_q2 }}%
										</small>
										{% endif %}
									</div>
									<div class="label">
										Q2
									</div>
									<div class="label" data-tooltip="Logos | ARR | Bonus" data-position="bottom center">
										<i class="pink user plus icon"></i>
										<span>{{ logo_q2 }}</span> | 
										<i class="green money bill alternate outline icon"></i>
										<span>{{ rev_q2 }}</span>    |
										<i class="yellow trophy icon"></i>
										<span>{{ b2 }}</span>           
									</div>
								</div>
								<div class="statistic">
									<div class="value" data-tooltip="Points summary for Q3" data-position="top center">
										{{ q3 }}
										{% if q3 > 0 %}  
										<small class="{% if g_q3 > 0 %}positive{% elsif g_q3 < 0 %}negative{% else %}neutral{% endif %}">
											<i class="small icons">
												<i class="green sort up icon"></i>
												<i class="red sort down icon"></i>
											</i>
											{{ g_q3 }}%
										</small>
										{% endif %}
									</div>
									<div class="label">
										Q3
									</div>
									<div class="label" data-tooltip="Logos | ARR | Bonus" data-position="bottom center">
										<i class="pink user plus icon"></i>
										<span>{{ logo_q3 }}</span> | 
										<i class="green money bill alternate outline icon"></i>
										<span>{{ rev_q3 }}</span>   |
										<i class="yellow trophy icon"></i>
										<span>{{ b3 }}</span>             
									</div>
								</div>
								<div class="statistic">
									<div class="value" data-tooltip="Points summary for Q4" data-position="top center">
										{{ q4 }}
										{% if q4 > 0 %}
										<small class="{% if g_q4 > 0 %}positive{% elsif g_q4 < 0 %}negative{% else %}neutral{% endif %}">
											<i class="small icons">
												<i class="green sort up icon"></i>
												<i class="red sort down icon"></i>
											</i>
											{{ g_q4 }}%
										</small>
										{% endif %}
									</div>
									<div class="label">
										Q4
									</div>
									<div class="label" data-tooltip="Logos | ARR | Bonus" data-position="bottom center">
										<i class="pink user plus icon"></i>
										<span>{{ logo_q4 }}</span> | 
										<i class="green money bill alternate outline icon"></i>
										<span>{{ rev_q4 }}</span>       |
										<i class="yellow trophy icon"></i>
										<span>{{ b4 }}</span>          
									</div>
								</div>
							</div>            
						</div>
						<div class="rotated title">
							<h3>Quarterly Team Stats</h3>
						</div>
					</div>
				</div>      
			</div>
		</div>  
	</div>
</div>
