<div id="drivers" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="nine wide column centered">
                <h2 class="ui center aligned header">
                  Meet Your {{ site.current_fiscal }} Drivers
                </h2>
                <div class="ui special cards">
                    {% for driver in site.data.current_drivers %}
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a class="ui primary button" href="{{ driver.ln }}" target="_blank"><i class="linkedin icon"></i> Connect</a>
                                    </div>
                                </div>
                            </div>
                            <img src="{{ driver.image }}?{{ site.time | date: '%s%N' }}">
                        </div>
                        <div class="content">
                            <div class="header">{{ driver.name }}</div>
                            <div class="meta">
                                <a>Team {{ driver.team }}</a>
                            </div>
                        </div>
                        {% if driver.archive %}
                        <div class="extra content">
                            <div class="description">
                                <div class="ui relaxed divided list">
                                    {% for archive in driver.archive %}
                                    <div class="item">
                                        <div class="content">
                                            <div class="header">{{ archive.year }}: {{ archive.place }} Place{% if archive.color %} <i class="{{ archive.color }} trophy icon"></i>{% endif %}</div>
                                            <div class="description">{{ archive.points }} Points</div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="extra content">

                            {% assign ytd = 0 %}
                            {% assign total_points = 0 %}

                            {% for row in site.data.current_points %}

                            {% assign ytd = row.q1 | plus: row.q2 | plus: row.q3 | plus: row.q4 | plus: row.ach %}

                            {% if driver.name == row.name %}
                            {% assign total_points = ytd %}
                            {% endif %}

                            {% endfor %}

                            <span class="right floated">
                                <i class="{{ driver.flag }} flag"></i>
                            </span>
                            <span>
                                Current: {{ total_points }} Points
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
