<div id="drivers" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="nine wide column centered">
                <h2 class="ui center aligned header">
                  Meet Your {{ site.current_fiscal }} Drivers
                </h2>
                <div class="ui special cards">
                    {% for driver in site.data.current_drivers %}
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <a class="ui primary button" href="{{ driver.ln }}" target="_blank"><i class="linkedin icon"></i> Connect</a>
                                    </div>
                                </div>
                            </div>
                            <img src="{{ driver.image }}?{{ site.time | date: '%s%N' }}">
                        </div>
                        <div class="content">
                            <div class="header">{{ driver.name }}</div>
                            <div class="meta">
                                <a>Team {{ driver.team }}</a>
                            </div>
                        </div>
                        {% if driver.archive %}
                        <div class="extra content">
                            <div class="description">
                                <div class="ui relaxed divided list">
                                    {% for archive in driver.archive %}
                                    <div class="item">
                                        {% if archive.color %}<i class="{{ archive.color }} trophy icon"></i>{% endif %}
                                        <div class="content">
                                            <div class="header">{{ archive.year }}: {{ archive.place }} Place</div>
                                            <div class="description">{{ archive.points }} Points</div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="extra content">

                            {% assign total_points = 0 %}

                            {% assign t_jun = 0 %}
                            {% assign t_jul = 0 %}
                            {% assign t_aug = 0 %}
                            {% assign t_sep = 0 %}
                            {% assign t_oct = 0 %}
                            {% assign t_nov = 0 %}
                            {% assign t_dec = 0 %}
                            {% assign t_jan = 0 %}
                            {% assign t_feb = 0 %}
                            {% assign t_mar = 0 %}
                            {% assign t_apr = 0 %}
                            {% assign t_may = 0 %}
                            {% assign t_q1 = 0 %}
                            {% assign t_q2 = 0 %}
                            {% assign t_q3 = 0 %}
                            {% assign t_q4 = 0 %}
                            {% assign t_btd = 0 %}
                            {% assign t_ytd = 0 %}

                            {% assign logo_q1 = 0 %}
                            {% assign logo_q2 = 0 %}
                            {% assign logo_q3 = 0 %}
                            {% assign logo_q4 = 0 %}
                            {% assign logo_ytd = 0 %}

                            {% assign rev_q1 = 0 %}
                            {% assign rev_q2 = 0 %}
                            {% assign rev_q3 = 0 %}
                            {% assign rev_q4 = 0 %}
                            {% assign rev_ytd = 0 %}

                            {% assign bon_q1 = 0 %}
                            {% assign bon_q2 = 0 %}
                            {% assign bon_q3 = 0 %}
                            {% assign bon_q4 = 0 %}
                            {% assign bon_ytd = 0 %}

                            {% for row in site.data.current_points %}

                            {% assign r_jun = row.jun_logo | plus: row.jun_arr | plus: row.jun_bonus %}
                            {% assign r_jul = row.jul_logo | plus: row.jul_arr | plus: row.jul_bonus %}
                            {% assign r_aug = row.aug_logo | plus: row.aug_arr | plus: row.aug_bonus %}
                            {% assign r_sep = row.sep_logo | plus: row.sep_arr | plus: row.sep_bonus %}
                            {% assign r_oct = row.oct_logo | plus: row.oct_arr | plus: row.oct_bonus %}
                            {% assign r_nov = row.nov_logo | plus: row.nov_arr | plus: row.nov_bonus %}
                            {% assign r_dec = row.dec_logo | plus: row.dec_arr | plus: row.dec_bonus %}
                            {% assign r_jan = row.jan_logo | plus: row.jan_arr | plus: row.jan_bonus %}
                            {% assign r_feb = row.feb_logo | plus: row.feb_arr | plus: row.feb_bonus %}
                            {% assign r_mar = row.mar_logo | plus: row.mar_arr | plus: row.mar_bonus %}
                            {% assign r_apr = row.apr_logo | plus: row.apr_arr | plus: row.apr_bonus %}
                            {% assign r_may = row.may_logo | plus: row.may_arr | plus: row.may_bonus %}

                            {% assign logo_q1 = row.jun_logo | plus: row.jul_logo | plus: row.aug_logo %}
                            {% assign logo_q2 = row.sep_logo | plus: row.oct_logo | plus: row.nov_logo %}
                            {% assign logo_q3 = row.dec_logo | plus: row.jan_logo | plus: row.feb_logo %}
                            {% assign logo_q4 = row.mar_logo | plus: row.apr_logo | plus: row.may_logo %}
                            {% assign logo_ytd = logo_q1 | plus: logo_q2 | plus: logo_q3 | plus: logo_q4 %}

                            {% assign rev_q1 = row.jun_arr | plus: row.jul_arr | plus: row.aug_arr %}
                            {% assign rev_q2 = row.sep_arr | plus: row.oct_arr | plus: row.nov_arr %}
                            {% assign rev_q3 = row.dec_arr | plus: row.jan_arr | plus: row.feb_arr %}
                            {% assign rev_q4 = row.mar_arr | plus: row.apr_arr | plus: row.may_arr %}
                            {% assign rev_ytd = rev_q1 | plus: rev_q2 | plus: rev_q3 | plus: rev_q4 %}

                            {% assign bon_q1 = row.jun_bonus | plus: row.jul_bonus | plus: row.aug_bonus %}
                            {% assign bon_q2 = row.sep_bonus | plus: row.oct_bonus | plus: row.nov_bonus %}
                            {% assign bon_q3 = row.dec_bonus | plus: row.jan_bonus | plus: row.feb_bonus %}
                            {% assign bon_q4 = row.mar_bonus | plus: row.apr_bonus | plus: row.may_bonus %}
                            {% assign bon_ytd = bon_q1 | plus: bon_q2 | plus: bon_q3 | plus: bon_q4 %}

                            {% assign b1 = row.bonus_q1 %}
                            {% assign b2 = row.bonus_q2 %}
                            {% assign b3 = row.bonus_q3 %}
                            {% assign b4 = row.bonus_q4 %}

                            {% assign q1 = logo_q1 | plus: rev_q1 | plus: bon_q1 | plus: b1 %}
                            {% assign q2 = logo_q2 | plus: rev_q2 | plus: bon_q2 | plus: b2 %}
                            {% assign q3 = logo_q3 | plus: rev_q3 | plus: bon_q3 | plus: b3 %}
                            {% assign q4 = logo_q4 | plus: rev_q4 | plus: bon_q4 | plus: b4 %}

                            {% assign btd = b1 | plus: b2 | plus: b3 | plus: b4 %}
                            {% assign ytd = q1 | plus: q2 | plus: q3 | plus: q4 %}

                            {% if driver.name == row.name %}
                            {% assign total_points = ytd %}
                            {% endif %}
                            {% endfor %}

                            <span class="right floated">
                                <i class="{{ driver.flag }} flag"></i>
                            </span>
                            <span>
                                Current: {{ total_points }} Points
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
