<div id="home" class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            {% include menu.html %}
        </div>
    </div>

    <div class="ui text container">
        <h1 class="ui inverted header">
            {{ site.title }}
        </h1>
        <h2>{{ site.description }}</h2>
        <a href="https://www.netflix.com/title/80204890" target="_blank" class="ui huge inverted red button"><i class="tv icon"></i> Watch D2S on Netflix</a>
    </div>

</div>