<script>
$(document)
    .ready(function() {

        var chartLabels = [
            {% for row in site.data.current_points %}
            "{{ row.name | capitalize }}"{% if forloop.last == true %}{% else %},{% endif %}
            {% endfor %}
        ];

        var chartData = [
            {% for row in site.data.current_points %}

            {% assign r_jun = row.jun_logo | plus: row.jun_arr | plus: row.jun_bonus %}
            {% assign r_jul = row.jul_logo | plus: row.jul_arr | plus: row.jul_bonus %}
            {% assign r_aug = row.aug_logo | plus: row.aug_arr | plus: row.aug_bonus %}
            {% assign r_sep = row.sep_logo | plus: row.sep_arr | plus: row.sep_bonus %}
            {% assign r_oct = row.oct_logo | plus: row.oct_arr | plus: row.oct_bonus %}
            {% assign r_nov = row.nov_logo | plus: row.nov_arr | plus: row.nov_bonus %}
            {% assign r_dec = row.dec_logo | plus: row.dec_arr | plus: row.dec_bonus %}
            {% assign r_jan = row.jan_logo | plus: row.jan_arr | plus: row.jan_bonus %}
            {% assign r_feb = row.feb_logo | plus: row.feb_arr | plus: row.feb_bonus %}
            {% assign r_mar = row.mar_logo | plus: row.mar_arr | plus: row.mar_bonus %}
            {% assign r_apr = row.apr_logo | plus: row.apr_arr | plus: row.apr_bonus %}
            {% assign r_may = row.may_logo | plus: row.may_arr | plus: row.may_bonus %}

            {% assign logo_q1 = row.jun_logo | plus: row.jul_logo | plus: row.aug_logo %}
            {% assign logo_q2 = row.sep_logo | plus: row.oct_logo | plus: row.nov_logo %}
            {% assign logo_q3 = row.dec_logo | plus: row.jan_logo | plus: row.feb_logo %}
            {% assign logo_q4 = row.mar_logo | plus: row.apr_logo | plus: row.may_logo %}
            {% assign logo_ytd = logo_q1 | plus: logo_q2 | plus: logo_q3 | plus: logo_q4 %}

            {% assign rev_q1 = row.jun_arr | plus: row.jul_arr | plus: row.aug_arr %}
            {% assign rev_q2 = row.sep_arr | plus: row.oct_arr | plus: row.nov_arr %}
            {% assign rev_q3 = row.dec_arr | plus: row.jan_arr | plus: row.feb_arr %}
            {% assign rev_q4 = row.mar_arr | plus: row.apr_arr | plus: row.may_arr %}
            {% assign rev_ytd = rev_q1 | plus: rev_q2 | plus: rev_q3 | plus: rev_q4 %}

            {% assign bon_q1 = row.jun_bonus| plus: row.jul_bonus| plus: row.aug_bonus %}
            {% assign bon_q2 = row.sep_bonus| plus: row.oct_bonus| plus: row.nov_bonus %}
            {% assign bon_q3 = row.dec_bonus| plus: row.jan_bonus| plus: row.feb_bonus %}
            {% assign bon_q4 = row.mar_bonus| plus: row.apr_bonus| plus: row.may_bonus %}
            {% assign bon_ytd = bon_q1 | plus: bon_q2 | plus: bon_q3 | plus: bon_q4 %}

            {% assign b1 = row.bonus_q1 %}
            {% assign b2 = row.bonus_q2 %}
            {% assign b3 = row.bonus_q3 %}
            {% assign b4 = row.bonus_q4 %}

            {% assign q1 = logo_q1 | plus: rev_q1 | plus: bon_q1 | plus: b1 %}
            {% assign q2 = logo_q2 | plus: rev_q2 | plus: bon_q2 | plus: b2 %}
            {% assign q3 = logo_q3 | plus: rev_q3 | plus: bon_q3 | plus: b3 %}
            {% assign q4 = logo_q4 | plus: rev_q4 | plus: bon_q4 | plus: b4 %}

            {% assign btd = b1 | plus: b2 | plus: b3 | plus: b4 %}
            {% assign ytd = q1 | plus: q2 | plus: q3 | plus: q4 %}
            
            {{ ytd }}{% unless forloop.last %},{% endunless %}
            
            {% endfor %}
        ];

        var lineData = [
            {% for row in site.data.current_points %}

            {% assign r_jun = row.jun_logo | plus: row.jun_arr | plus: row.jun_bonus %}
            {% assign r_jul = row.jul_logo | plus: row.jul_arr | plus: row.jul_bonus %}
            {% assign r_aug = row.aug_logo | plus: row.aug_arr | plus: row.aug_bonus %}

            {% assign r_sep = row.sep_logo | plus: row.sep_arr | plus: row.sep_bonus %}
            {% assign r_oct = row.oct_logo | plus: row.oct_arr | plus: row.oct_bonus %}
            {% assign r_nov = row.nov_logo | plus: row.nov_arr | plus: row.nov_bonus %}

            {% assign r_dec = row.dec_logo | plus: row.dec_arr | plus: row.dec_bonus %}
            {% assign r_jan = row.jan_logo | plus: row.jan_arr | plus: row.jan_bonus %}
            {% assign r_feb = row.feb_logo | plus: row.feb_arr | plus: row.feb_bonus %}

            {% assign r_mar = row.mar_logo | plus: row.mar_arr | plus: row.mar_bonus %}
            {% assign r_apr = row.apr_logo | plus: row.apr_arr | plus: row.apr_bonus %}
            {% assign r_may = row.may_logo | plus: row.may_arr | plus: row.may_bonus %}

            {% assign b1 = row.bonus_q1 %}
            {% assign b2 = row.bonus_q2 %}
            {% assign b3 = row.bonus_q3 %}
            {% assign b4 = row.bonus_q4 %}

            {
                name: "{{ row.name | capitalize }}",
                data: [
                    {{ r_jun | plus: b1 }},
                    {{ r_jun | plus: r_jul | plus: b1 }},
                    {{ r_jun | plus: r_jul | plus: r_aug | plus: b1 }},
                    {{ r_jun | plus: r_jul | plus: r_aug | plus: b1 | plus: r_sep | plus: b2 }},
                    {{ r_jun | plus: r_jul | plus: r_aug | plus: b1 | plus: r_sep | plus: r_oct | plus: b2 }},
                    {{ r_jun | plus: r_jul | plus: r_aug | plus: b1 | plus: r_sep | plus: r_oct | plus: r_nov | plus: b2 }},
                    {{ r_jun | plus: r_jul | plus: r_aug | plus: b1 | plus: r_sep | plus: r_oct | plus: r_nov | plus: b2 | plus: r_dec | plus: b3 }},
                    {{ r_jun | plus: r_jul | plus: r_aug | plus: b1 | plus: r_sep | plus: r_oct | plus: r_nov | plus: b2 | plus: r_dec | plus: r_jan | plus: b3 }},
                    {{ r_jun | plus: r_jul | plus: r_aug | plus: b1 | plus: r_sep | plus: r_oct | plus: r_nov | plus: b2 | plus: r_dec | plus: r_jan | plus: r_feb | plus: b3 }},
                    {{ r_jun | plus: r_jul | plus: r_aug | plus: b1 | plus: r_sep | plus: r_oct | plus: r_nov | plus: b2 | plus: r_dec | plus: r_jan | plus: r_feb | plus: b3 | plus: r_mar | plus: b4 }},
                    {{ r_jun | plus: r_jul | plus: r_aug | plus: b1 | plus: r_sep | plus: r_oct | plus: r_nov | plus: b2 | plus: r_dec | plus: r_jan | plus: r_feb | plus: b3 | plus: r_mar | plus: r_apr | plus: b4 }},
                    {{ r_jun | plus: r_jul | plus: r_aug | plus: b1 | plus: r_sep | plus: r_oct | plus: r_nov | plus: b2 | plus: r_dec | plus: r_jan | plus: r_feb | plus: b3 | plus: r_mar | plus: r_apr | plus: r_may | plus: b4 }}
                ]
            }{% unless forloop.last %},{% endunless %}
            
            {% endfor %}
        ];
        
        // Replace 0 with null
        // for (var i in lineData) {
        //   lineData[i].data = lineData[i].data.map(function(val, j) {
        //     return val === 0 ? null : val;
        //   });
        // }
        
        // Strip data based on current month, adjusted for fiscal June-May
        var d = new Date().getMonth();
        console.log("d=" + d);
        var o = 0;
        switch (d) {
          case 5:
          case 6:
          case 7:
          case 8:
          case 9:
          case 10:
          case 11:
            o = d - 5;
            break;
          case 0:
          case 1:
          case 2:
          case 3:
          case 4:
            o = d + 7;
            break;
        }
        console.log("o=" + o);
        for (var i in lineData) {
          lineData[i].data = lineData[i].data.slice(0, o+1);  // added +1 to include current month
        }

        console.log("lineData: " + JSON.stringify(lineData));

        var chartDataSum = 0;
        for (var i in chartData) {
            chartDataSum += chartData[i];
        }

        var chartDataMax = Math.max.apply(Math, chartData);
        // console.log(chartDataMax);

        var chartDataPer = [];
        for (var i in chartData) {
            chartDataPer.push(Math.round(chartData[i]/chartDataMax*100));
        }

        // Sort total points, highest to lowest
        var sortedData = chartData.slice().sort(function(a, b) {return b-a});
        // Give points an overall ranking
        var ranks = $.grep(sortedData, function(item, idx) {
            return item != sortedData[idx - 1];
        });
        // Create new array with rank "score" of total points which should
        // also allow for multiple of the same rank (e.g. ties)
        var rankedData = [];
        $.each(chartData, function(idx, item) {
            var rank = $.inArray(item, ranks);   
            rankedData.push(rank)
        });

        var backgroundColors = rankedData.slice();

        // console.log(chartData, rankedData);

        for (var i = 0; i < rankedData.length; i++) {
            switch (rankedData[i]) {
            case 0:
                backgroundColors[i] = "rgba(214, 175, 54, 0.9)";
                break;
            case 1:
                backgroundColors[i] = "rgba(167, 167, 173, 0.9)";
                break;
            case 2:
                backgroundColors[i] = "rgba(167, 112, 68, 0.9)";
                break;
            default:
                backgroundColors[i] = "rgba(236, 240, 241, 0.9)";
            }
        };

        function reDraw() {
          setTimeout(function() {
            $.each(charts, function(i, chart) {
              chart.updateOptions({});  
            });
          }, 200);
        }

        
        // APEX DEMO
        var colors = [
            "#db2828", // red
            "#f2711c", // orange
            "#fbbd08", // yellow
            "#b5cc18", // olive
            "#21ba45", // green
            "#00b5ad", // teal
            "#2185d0", // blue
            "#6435c9", // violet
            "#a333c8", // purple
            "#e03997" // pink
        ];
        var options = {
              series: [{
                name: "Points",
                data: chartData
            }],
            chart: {
              height: 250,
              type: 'bar',
              animations: {
                enabled: true,
                easing: 'easeinout',
                speed: 400,
                animateGradually: {
                    enabled: true,
                    delay: 350
                },
                dynamicAnimation: {
                    enabled: true,
                    speed: 800
                }
              },
              events: {
                click: function(chart, w, e) {
                  // console.log(chart, w, e)
                }
              },
              toolbar: {
                show: true,
                tools: {
                  download: true
                }
              }
            },
            colors: backgroundColors,
            plotOptions: {
              bar: {
                columnWidth: '45%',
                distributed: true
              }
            },
            dataLabels: {
              enabled: false
            },
            legend: {
              show: false
            },
            yaxis: {
                labels: {
                    style: {
                        colors: "#bdc3c7"
                    }
                }
            },
            xaxis: {
              categories: chartLabels,
              labels: {
                style: {
                  colors: "#bdc3c7",
                  fontSize: '16px'
                }
              }
            }
        };

        var chart_bar = new ApexCharts(document.querySelector("#chart-bar"), options);
        chart_bar.render();

        /** FANCY CHART */

        var options3 = {
          series: lineData,
          colors: colors,
          legend: {
            show: true,
            showForSingleSeries: true,
            position: 'bottom',
            fontSize: '16px',
            labels: {
                colors: '#bdc3c7'
            }
          },
          chart: {
          height: 500,
          type: 'line',
          toolbar: {
            show: true
          },
          zoom: {
            enabled: false
          }
        },
        dataLabels: {
          enabled: false
        },
        title: {
          text: 'Points Trend to Date'
        },
        markers: {
            size: 1,
            showNullDataPoints: false
        },
        stroke: {
          curve: 'smooth'
        },
        xaxis: {
          categories: ['Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May'],
        }
        };

        var chart_fancy = new ApexCharts(document.querySelector("#chart-line-trend"), options3);
        chart_fancy.render();

    })
;
</script>
