<script>
$(document)
    .ready(function() {

        var chartLabels = [
            {% for row in site.data.current_points %}
            "{{ row.name | capitalize }}"{% if forloop.last == true %}{% else %},{% endif %}
            {% endfor %}
        ];

        var chartData = [
            {% for row in site.data.current_points %}

            {% assign r_jun = row.jun_logo | plus: row.jun_arr | plus: row.jun_bonus %}
            {% assign r_jul = row.jul_logo | plus: row.jul_arr | plus: row.jul_bonus %}
            {% assign r_aug = row.aug_logo | plus: row.aug_arr | plus: row.aug_bonus %}
            {% assign r_sep = row.sep_logo | plus: row.sep_arr | plus: row.sep_bonus %}
            {% assign r_oct = row.oct_logo | plus: row.oct_arr | plus: row.oct_bonus %}
            {% assign r_nov = row.nov_logo | plus: row.nov_arr | plus: row.nov_bonus %}
            {% assign r_dec = row.dec_logo | plus: row.dec_arr | plus: row.dec_bonus %}
            {% assign r_jan = row.jan_logo | plus: row.jan_arr | plus: row.jan_bonus %}
            {% assign r_feb = row.feb_logo | plus: row.feb_arr | plus: row.feb_bonus %}
            {% assign r_mar = row.mar_logo | plus: row.mar_arr | plus: row.mar_bonus %}
            {% assign r_apr = row.apr_logo | plus: row.apr_arr | plus: row.apr_bonus %}
            {% assign r_may = row.may_logo | plus: row.may_arr | plus: row.may_bonus %}

            {% assign logo_q1 = row.jun_logo | plus: row.jul_logo | plus: row.aug_logo %}
            {% assign logo_q2 = row.sep_logo | plus: row.oct_logo | plus: row.nov_logo %}
            {% assign logo_q3 = row.dec_logo | plus: row.jan_logo | plus: row.feb_logo %}
            {% assign logo_q4 = row.mar_logo | plus: row.apr_logo | plus: row.may_logo %}
            {% assign logo_ytd = logo_q1 | plus: logo_q2 | plus: logo_q3 | plus: logo_q4 %}

            {% assign rev_q1 = row.jun_arr | plus: row.jul_arr | plus: row.aug_arr %}
            {% assign rev_q2 = row.sep_arr | plus: row.oct_arr | plus: row.nov_arr %}
            {% assign rev_q3 = row.dec_arr | plus: row.jan_arr | plus: row.feb_arr %}
            {% assign rev_q4 = row.mar_arr | plus: row.apr_arr | plus: row.may_arr %}
            {% assign rev_ytd = rev_q1 | plus: rev_q2 | plus: rev_q3 | plus: rev_q4 %}

            {% assign bon_q1 = row.jun_bonus| plus: row.jul_bonus| plus: row.aug_bonus %}
            {% assign bon_q2 = row.sep_bonus| plus: row.oct_bonus| plus: row.nov_bonus %}
            {% assign bon_q3 = row.dec_bonus| plus: row.jan_bonus| plus: row.feb_bonus %}
            {% assign bon_q4 = row.mar_bonus| plus: row.apr_bonus| plus: row.may_bonus %}
            {% assign bon_ytd = bon_q1 | plus: bon_q2 | plus: bon_q3 | plus: bon_q4 %}

            {% assign b1 = row.bonus_q1 %}
            {% assign b2 = row.bonus_q2 %}
            {% assign b3 = row.bonus_q3 %}
            {% assign b4 = row.bonus_q4 %}

            {% assign q1 = logo_q1 | plus: rev_q1 | plus: bon_q1 | plus: b1 %}
            {% assign q2 = logo_q2 | plus: rev_q2 | plus: bon_q2 | plus: b2 %}
            {% assign q3 = logo_q3 | plus: rev_q3 | plus: bon_q3 | plus: b3 %}
            {% assign q4 = logo_q4 | plus: rev_q4 | plus: bon_q4 | plus: b4 %}

            {% assign btd = b1 | plus: b2 | plus: b3 | plus: b4 %}
            {% assign ytd = q1 | plus: q2 | plus: q3 | plus: q4 %}
            
            {{ ytd }}{% unless forloop.last %},{% endunless %}
            
            {% endfor %}
        ];

        // Sort total points, highest to lowest
        var sortedData = chartData.slice().sort(function(a, b) {return b-a});
        // Give points an overall ranking
        var ranks = $.grep(sortedData, function(item, idx) {
            return item != sortedData[idx - 1];
        });
        // Create new array with rank "score" of total points which should
        // also allow for multiple of the same rank (e.g. ties)
        var rankedData = [];
        $.each(chartData, function(idx, item) {
            var rank = $.inArray(item, ranks);   
            rankedData.push(rank)
        });

        var backgroundColors = rankedData.slice();

        console.log(chartData, rankedData);

        for (var i = 0; i < rankedData.length; i++) {
            switch (rankedData[i]) {
            case 0:
                backgroundColors[i] = "rgb(214, 175, 54)";
                break;
            case 1:
                backgroundColors[i] = "rgb(167, 167, 173)";
                break;
            case 2:
                backgroundColors[i] = "rgb(167, 112, 68)";
                break;
            default:
                backgroundColors[i] = "rgb(236, 240, 241)";
            }
        };

        var barChartData = {
            labels: chartLabels,
            datasets: [{
                label: "Championship Points",
                backgroundColor: backgroundColors,
                data: chartData
            }]
        };

        function done() {
            var url = myBar.toBase64Image();
            document.querySelector('meta[name="twitter:image"]').setAttribute("content", url);
        }

        var options = {
            title: {
                display: true,
                text: "Constructors' Championship Medal Outlook"
            },
            tooltips: {
                mode: 'index',
                intersect: false
            },
            legend: {
                display: false
            },
            responsive: true,
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: false
                    },
                    ticks: {
                        beginAtZero: true
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Points to Date'
                    },
                    ticks: {
                        min: 0,
                        suggestedMax: 200,
                                    beginAtZero: true
                            }
                }]
            },
            animation: {
                onComplete: done
            }
        };

        var ctx = document.getElementById('chart-bar-rank').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: options
        });

    })
;
</script>