<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Twitter Card Meta -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:image" content="" />
<meta name="twitter:description" content="{{ site.description }}" />
<meta name="twitter:url" content="{{ site.url }}{{ site.baseurl }}" />

{% assign meta_ytd = 0 %}
{% assign odd_data = "" %}
{% assign even_data = "" %}

{% for row in site.data.current_points %}
{% capture row_name %}{{ row.name | capitalize }}{% endcapture %}
{% assign r_jun = row.jun_logo | plus: row.jun_arr | plus: row.jun_bonus %}
{% assign r_jul = row.jul_logo | plus: row.jul_arr | plus: row.jul_bonus %}
{% assign r_aug = row.aug_logo | plus: row.aug_arr | plus: row.aug_bonus %}
{% assign r_sep = row.sep_logo | plus: row.sep_arr | plus: row.sep_bonus %}
{% assign r_oct = row.oct_logo | plus: row.oct_arr | plus: row.oct_bonus %}
{% assign r_nov = row.nov_logo | plus: row.nov_arr | plus: row.nov_bonus %}
{% assign r_dec = row.dec_logo | plus: row.dec_arr | plus: row.dec_bonus %}
{% assign r_jan = row.jan_logo | plus: row.jan_arr | plus: row.jan_bonus %}
{% assign r_feb = row.feb_logo | plus: row.feb_arr | plus: row.feb_bonus %}
{% assign r_mar = row.mar_logo | plus: row.mar_arr | plus: row.mar_bonus %}
{% assign r_apr = row.apr_logo | plus: row.apr_arr | plus: row.apr_bonus %}
{% assign r_may = row.may_logo | plus: row.may_arr | plus: row.may_bonus %}

{% assign meta_ytd = r_jun | plus: r_jul | plus: r_aug | plus: row.bonus_q1 | plus: r_sep | plus: r_oct | plus: r_nov | plus: row.bonus_q2 | plus: r_dec | plus: r_jan | plus: r_feb | plus: row.bonus_q3 | plus: r_mar | plus: r_apr | plus: r_may | plus: row.bonus_q4 %}

    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

    {% if thecycle == 'odd' %}
    {% assign odd_data = odd_data | append: row_name | append: '⮕' | append: meta_ytd | append: 'pts ' %}
    {% endif %}

    {% if thecycle == 'even' %}
    {% assign even_data = even_data | append: row_name | append: '⮕' | append: meta_ytd | append: 'pts ' %}
    {% endif %}
{% endfor %}

<meta name="twitter:label1" content="Current Points" />
<meta name="twitter:data1" content="{{ odd_data }}" />
<meta name="twitter:label2" content="Current Points" />
<meta name="twitter:data2" content="{{ even_data }}" />
