<!-- Standard Meta -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<!-- Twitter Card Meta -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:image" content="" />
<meta name="twitter:description" content="{{ site.description }}" />
<meta name="twitter:url" content="{{ site.url }}{{ site.baseurl }}" />

{% assign meta_ytd = 0 %}
{% assign odd_data = "" %}
{% assign even_data = "" %}

{% for row in site.data.current_points %}
{% capture row_name %}{{ row.name | capitalize }}{% endcapture %}
{% assign r_jun = row.jun.logo | plus: row.jun.arr | plus: row.jun.bonus %}
{% assign r_jul = row.jul.logo | plus: row.jul.arr | plus: row.jul.bonus %}
{% assign r_aug = row.aug.logo | plus: row.aug.arr | plus: row.aug.bonus %}
{% assign r_sep = row.sep.logo | plus: row.sep.arr | plus: row.sep.bonus %}
{% assign r_oct = row.oct.logo | plus: row.oct.arr | plus: row.oct.bonus %}
{% assign r_nov = row.nov.logo | plus: row.nov.arr | plus: row.nov.bonus %}
{% assign r_dec = row.dec.logo | plus: row.dec.arr | plus: row.dec.bonus %}
{% assign r_jan = row.jan.logo | plus: row.jan.arr | plus: row.jan.bonus %}
{% assign r_feb = row.feb.logo | plus: row.feb.arr | plus: row.feb.bonus %}
{% assign r_mar = row.mar.logo | plus: row.mar.arr | plus: row.mar.bonus %}
{% assign r_apr = row.apr.logo | plus: row.apr.arr | plus: row.apr.bonus %}
{% assign r_may = row.may.logo | plus: row.may.arr | plus: row.may.bonus %}

{% assign meta_ytd = r_jun | plus: r_jul | plus: r_aug | plus: row.bonus_q1 | plus: r_sep | plus: r_oct | plus: r_nov | plus: row.bonus_q2 | plus: r_dec | plus: r_jan | plus: r_feb | plus: row.bonus_q3 | plus: r_mar | plus: r_apr | plus: r_may | plus: row.bonus_q4 %}

    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

    {% if thecycle == 'odd' %}
    {% assign odd_data = odd_data | append: row_name | append: '⮕' | append: meta_ytd | append: 'pts ' %}
    {% endif %}

    {% if thecycle == 'even' %}
    {% assign even_data = even_data | append: row_name | append: '⮕' | append: meta_ytd | append: 'pts ' %}
    {% endif %}
{% endfor %}

<meta name="twitter:label1" content="Current Points" />
<meta name="twitter:data1" content="{{ odd_data }}" />
<meta name="twitter:label2" content="Current Points" />
<meta name="twitter:data2" content="{{ even_data }}" />
