<div class="ui inverted vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
                <h3>"Best. Team. Ever."</h3>
                <p>Everyone when asked about Team Services</p>
            </div>
            <div class="column">
                <h3>"I wish I was on Team Services."</h3>
                <p>Someone not on Team Services</p>
            </div>
        </div>
    </div>
</div>