<div id="rules" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="twelve wide column centered">
                <h1 class="ui centered header">
                    Points
                    <div class="sub header">How Are They Awarded?</div>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="four wide column centered" style="padding-left:0 !important;padding-right:0 !important;align-self:normal !important;">
                <table class="ui celled padded table">
                    <thead>
                        <tr>
                            <th colspan="2">Monthly Point Rules</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Logo as Lead SC</td>
                            <td>2 pts</td>
                        </tr>
                        <tr>
                            <td>Logo as Secondary SC</td>
                            <td>1 pt</td>
                        </tr>
                        <tr>
                            <td>$25k ARR per Deal</td>
                            <td>1 pt</td>
                        </tr>
                        <tr>
                            <td>SC Request with #dmd</td>
                            <td>1 pt</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="four wide column centered" style="padding-left:0 !important;padding-right:0 !important;align-self:normal !important;">
                <table class="ui celled padded table">
                    <thead>
                        <tr>
                            <th colspan="2">Quarterly Point Rules</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Top Lead SC ARR*</td>
                            <td>5 pts</td>
                        </tr>
                        <tr>
                            <td>Top Lead SC Logos*</td>
                            <td>5 pts</td>
                        </tr>
                        <tr>
                            <td>Fastest Lap</td>
                            <td>1 pt</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2"><em>* QTD actuals for both ARR and Logos, not monthly points total</em></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="four wide column centered" style="padding-left:0 !important;padding-right:0 !important;align-self:normal !important;">
                <table class="ui celled padded table">
                    <thead>
                        <tr>
                            <th colspan="2">Q4 Bonus Rules 🔥</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Engagement as Lead/Secondary</td>
                            <td>1 pt</td>
                        </tr>
                        <tr>
                            <td>Cross-Vertical as Lead/Secondary</td>
                            <td>2 pts</td>
                        </tr>
                        <tr>
                            <td>BD Call (Pre-Opp)</td>
                            <td>1 pt</td>
                        </tr>
                        <tr>
                            <td>Sales Slack Channel Response</td>
                            <td>1 pt</td>
                        </tr>
                        <tr>
                            <td>Late Timesheet Notification</td>
                            <td>-1 pt</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>