<div id="standings" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <!-- Computer only -->
            <div class="sixteen wide column computer only centered">
                <h2 class="ui top attached center aligned header">
                  🏎 Current SC Constructors' Championship Standings <span class="flip-text-h">🏎</span>
                </h2>
                <table class="ui fixed sortable selectable celled padded striped attached table">
                    <thead>
                        <tr>
                            <th data-sort="string" class="left aligned">Name</th>
                            <th data-sort="int" class="right aligned">Q1</th>
                            <th data-sort="int" class="right aligned">Q2</th>
                            <th data-sort="int" class="right aligned">Q3</th>
                            <th data-sort="int" class="right aligned">Q4</th>
                            <th data-sort="int" class="right aligned" title="Bonus Points">Achievement Bonus</th>
                            <th data-sort="int" data-sort-onload="yes" data-sort-default="desc" class="right aligned" title="Total Points">Total Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% comment %}
                        Create variables for quarters and summary columns
                        {% endcomment %}

                        {% assign q1 = 0 %}
                        {% assign q2 = 0 %}
                        {% assign q3 = 0 %}
                        {% assign q4 = 0 %}
                        {% assign ach = 0 %}
                        {% assign ytd = 0 %}

                        {% assign t_q1 = 0 %}
                        {% assign t_q2 = 0 %}
                        {% assign t_q3 = 0 %}
                        {% assign t_q4 = 0 %}
                        {% assign t_ach = 0 %}
                        {% assign t_ytd = 0 %}

                        {% for row in site.data.current_points %}

                        {% assign q1 = row.q1 | default: 0 %}
                        {% assign q2 = row.q2 | default: 0 %}
                        {% assign q3 = row.q3 | default: 0 %}
                        {% assign q4 = row.q4 | default: 0 %}
                        {% assign ach = row.ach | default: 0 %}

                        {% assign ytd = q1 | plus: q2 | plus: q3 | plus: q4 | plus: ach %}

                        <tr>
                            <td class="left aligned">{{ row.name | capitalize }}</td>
                            <td class="right aligned">{{ q1 }}</td>
                            <td class="right aligned">{{ q2 }}</td>
                            <td class="right aligned">{{ q3 }}</td>
                            <td class="right aligned">{{ q4 }}</td>
                            <td class="right aligned">{{ ach }}</td>
                            <td class="right aligned"> {{ ytd }}</td>
                        </tr>

                        {% assign t_q1 = t_q1 | plus: q1 %}
                        {% assign t_q2 = t_q2 | plus: q2 %}
                        {% assign t_q3 = t_q3 | plus: q3 %}
                        {% assign t_q4 = t_q4 | plus: q4 %}
                        {% assign t_ach = t_ach | plus: ach %}
                        {% assign t_ytd = t_ytd | plus: ytd %}

                        {% endfor %}
                    </tbody>
                </table>
                <div class="ui bottom attached secondary inverted red segment">
                    <p></p>
                </div>
            </div>

        </div>
    </div>
</div>