<div id="standings" class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <!-- Computer only -->
            <div class="sixteen wide column computer only centered">
                <h2 class="ui top  center aligned header">
                  🏎 Current Constructors Standings <span class="flip-text-h">🏎</span>
                </h2>
                <table class="ui sortable selectable celled padded attached table">
                    <thead>
                        <tr>
                            <th data-sort="string" class="left aligned">Name</th>
                            <th data-sort="int" class="right aligned">Jun</th>
                            <th data-sort="int" class="right aligned">Jul</th>
                            <th data-sort="int" class="right aligned">Aug</th>
                            <th data-sort="int" class="right aligned"><i class="battery quarter icon"></i></th>
                            <th data-sort="int" class="right aligned">Sep</th>
                            <th data-sort="int" class="right aligned">Oct</th>
                            <th data-sort="int" class="right aligned">Nov</th>
                            <th data-sort="int" class="right aligned"><i class="battery half icon"></i></th>
                            <th data-sort="int" class="right aligned">Dec</th>
                            <th data-sort="int" class="right aligned">Jan</th>
                            <th data-sort="int" class="right aligned">Feb</th>
                            <th data-sort="int" class="right aligned"><i class="battery three quarters icon"></i></th>
                            <th data-sort="int" class="right aligned">Mar</th>
                            <th data-sort="int" class="right aligned">Apr</th>
                            <th data-sort="int" class="right aligned">May</th>
                            <th data-sort="int" class="right aligned"><i class="battery full icon"></i></th>
                            <th data-sort="int" class="right aligned" title="Bonus Points">👑</th>
                            <th data-sort="int" data-sort-onload="yes" data-sort-default="desc" class="right aligned" title="Total Points">🏁</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% comment %}
                        Create variables for quarters and summary columns
                        {% endcomment %}


                        {% assign t_jun = 0 %}
                        {% assign t_jul = 0 %}
                        {% assign t_aug = 0 %}
                        {% assign t_sep = 0 %}
                        {% assign t_oct = 0 %}
                        {% assign t_nov = 0 %}
                        {% assign t_dec = 0 %}
                        {% assign t_jan = 0 %}
                        {% assign t_feb = 0 %}
                        {% assign t_mar = 0 %}
                        {% assign t_apr = 0 %}
                        {% assign t_may = 0 %}
                        {% assign t_q1 = 0 %}
                        {% assign t_q2 = 0 %}
                        {% assign t_q3 = 0 %}
                        {% assign t_q4 = 0 %}
                        {% assign t_btd = 0 %}
                        {% assign t_ytd = 0 %}

                        {% for row in site.data.current_points %}

                        {% assign q1 = row.jun | plus: row.jul | plus: row.aug | plus: row.bonus_q1 %}
                        {% assign q2 = row.sep | plus: row.oct | plus: row.nov | plus: row.bonus_q2 %}
                        {% assign q3 = row.dec | plus: row.jan | plus: row.feb | plus: row.bonus_q3 %}
                        {% assign q4 = row.mar | plus: row.apr | plus: row.may | plus: row.bonus_q4 %}
                        {% assign btd = row.bonus_q1 | plus: row.bonus_q2 | plus: row.bonus_q3 | plus: row.bonus_q4 %}
                        {% assign ytd = q1 | plus: q2 | plus: q3 | plus: q4 %}

                        <tr>
                            <td class="left aligned">{{ row.name | capitalize }}</td>
                            <td class="right aligned">{{ row.jun }}</td>
                            <td class="right aligned">{{ row.jul }}</td>
                            <td class="right aligned">{{ row.aug }}</td>
                            <td class="right aligned disabled">{{ q1 }}</td>
                            <td class="right aligned">{{ row.sep }}</td>
                            <td class="right aligned">{{ row.oct }}</td>
                            <td class="right aligned">{{ row.nov }}</td>
                            <td class="right aligned disabled">{{ q2 }}</td>
                            <td class="right aligned">{{ row.dec }}</td>
                            <td class="right aligned">{{ row.jan }}</td>
                            <td class="right aligned">{{ row.feb }}</td>
                            <td class="right aligned disabled">{{ q3 }}</td>
                            <td class="right aligned">{{ row.mar }}</td>
                            <td class="right aligned">{{ row.apr }}</td>
                            <td class="right aligned">{{ row.may }}</td>
                            <td class="right aligned disabled">{{ q4 }}</td>
                            <td class="right aligned">{{ btd }}</td>
                            <td class="right aligned"> {{ ytd }}</td>
                        </tr>

                        {% assign t_jun = t_jun | plus: row.jun %}
                        {% assign t_jul = t_jul | plus: row.jul %}
                        {% assign t_aug = t_aug | plus: row.aug %}
                        {% assign t_sep = t_sep | plus: row.sep %}
                        {% assign t_oct = t_oct | plus: row.oct %}
                        {% assign t_nov = t_nov | plus: row.nov %}
                        {% assign t_dec = t_dec | plus: row.dec %}
                        {% assign t_jan = t_jan | plus: row.jan %}
                        {% assign t_feb = t_feb | plus: row.feb %}
                        {% assign t_mar = t_mar | plus: row.mar %}
                        {% assign t_apr = t_apr | plus: row.apr %}
                        {% assign t_may = t_may | plus: row.may %}
                        {% assign t_b1 = t_b1 | plus: row.bonus_q1 %}
                        {% assign t_b2 = t_b2 | plus: row.bonus_q2 %}
                        {% assign t_b3 = t_b3 | plus: row.bonus_q3 %}
                        {% assign t_b4 = t_b4 | plus: row.bonus_q4 %}
                        {% assign t_q1 = t_q1 | plus: q1 %}
                        {% assign t_q2 = t_q2 | plus: q2 %}
                        {% assign t_q3 = t_q3 | plus: q3 %}
                        {% assign t_q4 = t_q4 | plus: q4 %}
                        {% assign t_btd = t_btd | plus: btd %}
                        {% assign t_ytd = t_ytd | plus: ytd %}

                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="left aligned">Total</th>
                            <th class="right aligned">{{ t_jun }}</th>
                            <th class="right aligned">{{ t_jul }}</th>
                            <th class="right aligned">{{ t_aug }}</th>
                            <th class="right aligned disabled">{{ t_q1 }}</th>
                            <th class="right aligned">{{ t_sep }}</th>
                            <th class="right aligned">{{ t_oct }}</th>
                            <th class="right aligned">{{ t_nov }}</th>
                            <th class="right aligned disabled">{{ t_q2 }}</th>
                            <th class="right aligned">{{ t_dec }}</th>
                            <th class="right aligned">{{ t_jan }}</th>
                            <th class="right aligned">{{ t_feb }}</th>
                            <th class="right aligned disabled">{{ t_q3 }}</th>
                            <th class="right aligned">{{ t_mar }}</th>
                            <th class="right aligned">{{ t_apr }}</th>
                            <th class="right aligned">{{ t_may }}</th>
                            <th class="right aligned disabled">{{ t_q4 }}</th>
                            <th class="right aligned">{{ t_btd }}</th>
                            <th class="right aligned">{{ t_ytd }}</th>
                        </tr>
                    </tfoot>
                </table>

                {% assign current_month = site.time | date: '%m' %}
                {% assign percent_complete = "0" %}
                {% case current_month %}
                    {% when "06" %}
                        {% assign percent_complete = "8" %}
                    {% when "07" %}
                        {% assign percent_complete = "17" %}
                    {% when "08" %}
                        {% assign percent_complete = "25" %}
                    {% when "09" %}
                        {% assign percent_complete = "33" %}
                    {% when "10" %}
                        {% assign percent_complete = "42" %}
                    {% when "11" %}
                        {% assign percent_complete = "50" %}
                    {% when "12" %}
                        {% assign percent_complete = "58" %}
                    {% when "01" %}
                        {% assign percent_complete = "67" %}
                    {% when "02" %}
                        {% assign percent_complete = "75" %}
                    {% when "03" %}
                        {% assign percent_complete = "83" %}
                    {% when "04" %}
                        {% assign percent_complete = "92" %}
                    {% when "05" %}
                        {% assign percent_complete = "100" %}
                {% endcase %}
                <div class="ui bottom attached inverted segment">
                    <div data-percent="{{ percent_complete }}" class="ui large grey active inverted progress" style="margin-bottom:0;">
                        <div class="bar" style="transition-duration: 300ms; width: {{ percent_complete }}%;">
                            <div class="progress flip-text-h" style="font-size:2.2em;">🏎</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile only -->
            <div class="sixteen wide column mobile only centered">
                <h2 class="ui top attached center aligned header">
                  🏎 Current Constructors' Summary <span class="flip-text-h">🏎</span>
                </h2>
                <table class="ui sortable selectable unstackable celled padded attached table">
                    <thead>
                        <tr>
                            <th class="left aligned">Name</th>
                            <th class="right aligned">🏁</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% comment %}
                        Create variables for quarters and summary columns
                        {% endcomment %}


                        {% assign t_jun = 0 %}
                        {% assign t_jul = 0 %}
                        {% assign t_aug = 0 %}
                        {% assign t_sep = 0 %}
                        {% assign t_oct = 0 %}
                        {% assign t_nov = 0 %}
                        {% assign t_dec = 0 %}
                        {% assign t_jan = 0 %}
                        {% assign t_feb = 0 %}
                        {% assign t_mar = 0 %}
                        {% assign t_apr = 0 %}
                        {% assign t_may = 0 %}
                        {% assign t_q1 = 0 %}
                        {% assign t_q2 = 0 %}
                        {% assign t_q3 = 0 %}
                        {% assign t_q4 = 0 %}
                        {% assign t_ytd = 0 %}

                        {% for row in site.data.current_points %}

                        {% assign q1 = row.jun | plus: row.jul | plus: row.aug | plus: row.bonus_q1 %}
                        {% assign q2 = row.sep | plus: row.oct | plus: row.nov | plus: row.bonus_q2 %}
                        {% assign q3 = row.dec | plus: row.jan | plus: row.feb | plus: row.bonus_q3 %}
                        {% assign q4 = row.mar | plus: row.apr | plus: row.may | plus: row.bonus_q4 %}
                        {% assign ytd = q1 | plus: q2 | plus: q3 | plus: q4 %}

                        <tr>
                            <td class="left aligned">{{ row.name | capitalize }}</td>
                            <td class="right aligned"> {{ ytd }}</td>
                        </tr>

                        {% assign t_jun = t_jun | plus: row.jun %}
                        {% assign t_jul = t_jul | plus: row.jul %}
                        {% assign t_aug = t_aug | plus: row.aug %}
                        {% assign t_sep = t_sep | plus: row.sep %}
                        {% assign t_oct = t_oct | plus: row.oct %}
                        {% assign t_nov = t_nov | plus: row.nov %}
                        {% assign t_dec = t_dec | plus: row.dec %}
                        {% assign t_jan = t_jan | plus: row.jan %}
                        {% assign t_feb = t_feb | plus: row.feb %}
                        {% assign t_mar = t_mar | plus: row.mar %}
                        {% assign t_apr = t_apr | plus: row.apr %}
                        {% assign t_may = t_may | plus: row.may %}
                        {% assign t_q1 = t_q1 | plus: q1 %}
                        {% assign t_q2 = t_q2 | plus: q2 %}
                        {% assign t_q3 = t_q3 | plus: q3 %}
                        {% assign t_q4 = t_q4 | plus: q4 %}
                        {% assign t_ytd = t_ytd | plus: ytd %}

                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="left aligned">Total</th>
                            <th data-sort="int" class="right aligned">{{ t_ytd }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide column centered">
                <canvas id="pointsChart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="sixteen wide column centered">
                <canvas id="trendChart"></canvas>
            </div>
        </div>
    </div>
</div>