<div class="ui vertical stripe segment" style="border-bottom: none;">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Some Formula One Trivia</h3>
                <div class="ui bulleted list">
                    <div class="item">F1 cars can go 0 to 100 MPH back to 0 in under 4 seconds.</div>
                    <div class="item">Brake discs can reach 1,000 degrees centigrade.</div>
                    <div class="item">F1 cars can achieve up to 20,000 RPMs (normal cars can only achive around 6,000).</div>
                    <div class="item">The average F1 driver loses 4 kgs of weight in a race.</div>
                    <div class="item">F1 cars create enough downforce (3.5G) to technically drive upside down.</div>
                </div>
            </div>
            <div class="six wide right floated column">
                <img src="assets/images/racetrack_bg.png" class="ui large bordered rounded image">
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <a href="https://www.netflix.com/title/80204890" target="_blank" class="ui huge inverted red button">Watch "Drive to Survive" on Netflix</a>
            </div>
        </div>
    </div>
</div>