<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Some Formula One Trivia</h3>
                <p>The formula in the name Formula One refers to a set of rules to which all participants and cars must comply and was originally and briefly known as Formula A. The first official world championship race was held in 1950 at Silverstone.<sup><a href="#sources">[1]</a></sup></p>
                <h3 class="ui header">Another Fun Fact to Know and Tell</h3>
                <p>The oldest extant teams to have never changed names include Ferrari, McLaren, and Williams (the current Mercedes lineage actually dates back to Tyrrell, which rebranded a number of times as BAR, Honda, and Brawn).<sup><a href="#sources">[2]</a></sup></p>
            </div>
            <div class="six wide right floated column">
                <img src="assets/images/formula1_prost.jpg" class="ui large bordered rounded image">
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <a href="https://www.netflix.com/title/80204890" target="_blank" class="ui huge inverted red button">Watch "Drive to Survive" on Netflix</a>
            </div>
        </div>
    </div>
</div>