$color-menu-bkg: #1b1c1d; // #332;
$grey-light: lightgrey;
$green: #21ba45;
$red: #db2828;

.rotated {
  bottom: 0;
  position: absolute;
  transform: rotate(-90deg);
  transition: .2s;
  width: 100%;
}

.ui.dashchart {
  padding-bottom: 5rem;
}

.ui.dashboard.grid {
  background: $color-menu-bkg;
  margin-top: 3rem;
  padding: 0 3rem;
  .buttons {
    margin-bottom: -1rem;
    .button {
      transition: .2s;
      .icon {
        padding: 0;
      }
      &:hover {
      background: rgba(white, .5) !important;
        .icon {
          color: white;
        }
      }
    }
  }
  .divider {
    color: grey;
    margin: 1rem -1rem;
  }
  .column {
    display: flex;
    padding: 0 !important;
  }
}
.statistics {
  flex-grow: 1;
}
.statistic {
  align-self: center;
  flex-grow: 1 !important;
  &.positive {
   .label,
    .value {
      color: $green !important;
    }
  }
  &.negative {
   .label,
    .value {
      color: $red !important;
    }
  }
  .positive,
  .green + span {
    color: darken($green, 10%);
  }
  .neutral {
    color: $color-menu-bkg;
  }
  .negative,
  .pink + span {
    color: lighten(hotpink, 10%);
  }
  .yellow + span {
    color: orange;
  }
  .value + .label {
    padding-top: 1rem;
  }
  >.label {
    color: grey !important;
  }
  .mini.leaf {
    margin-left: -.5rem !important;
  }
  &.left.floated {
    border-right: 1px solid $color-menu-bkg;
    >.value {
      color: white;
    }
    .label {
      color: grey;
    }  
    >.text {
      min-height: auto !important;
      font-size: 3.5rem !important;
    }
  }
}
.chart {
  padding-left: 1rem;
}
.ui.segment.alt {
  background: transparent;
  border: none;
  border-radius: 0 !important;
  box-shadow: none;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 0;
  height: 100%;
  width: 100%;
}
.stage {
  color: grey;
  cursor: pointer;
  height: 20rem;
  position: relative;
  transition: .2s;
  background: darken($color-menu-bkg, 7%);
  width: 3rem;
  .title {
    padding: 1rem;
    @extend .rotated;
    input[type=range] {
      display: none;
      & + h3 {
        // range input displaces h3 
        // even with display none
        margin-top: -1rem;
        padding-top: 1rem;
      }
    }
    h3 {
      white-space: nowrap;
      span {
        display: none;
      }
    }
  }
  >.chart, 
  >.content {
    display: none;
  }
  .right.angle.icon,
  .remove.icon {
    left: 1rem;
    top: .5rem;
    position: absolute;
    transition: 2s;
  }
  .remove.icon:not(.right) {
    color: lighten(hotpink,10%) !important;
  }
  &:not(:first-of-type) {
    border-left: 1px solid $color-menu-bkg;
  }
  &.active {
    background: rgba($color-menu-bkg,.2);
    width: 100%;
    input {
      display: flex;
    }
    .chart,
    .content {
      display: flex;
      height: 100%;
      width: 100%;
    }
    .chart {
      flex-direction: column;
    }
    .title {
      border-bottom: 1px solid $color-menu-bkg;
      display: flex;
      justify-content: flex-end;
      padding: 1rem;
      text-align: end;
      transform: rotate(0deg);
      input {
      }
      h3 {
        color: white;
        padding-right: 1rem;
        span {
          display: inline-block;
        }
        >span {
          border-right: 1px solid darken(grey, 20%);
          color: darken(grey, 20%);
          margin-right: .5rem;
          padding-right: .5rem;          
        }
      }
    }
  }  
}

input[type=range] {
  -webkit-appearance: none;
    background-color: darken(grey,10%);
    height: .3rem;
    margin-top: 2.5rem;
  margin-right: 2rem;
  width: 100%; 
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: goldenrod;
    border: 2px solid $color-menu-bkg;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 1.5rem;
    position: relative;
    width: 1.5rem;
  }
  &:focus {
    outline: none;
  }
}